[2014-04-17 11:17] GeertvanHorrik opened #1 "Create chocolatey package for easier deployment"

[2014-04-18 08:35] GeertvanHorrik opened #2 "Support vb projects"

[2014-04-19 17:02] GeertvanHorrik opened #3 "Create nuget package for deployment when being used in code"

[2014-04-19 17:03] #2 closed, assigned to nobody

[2014-04-19 19:30] #1 closed, assigned to nobody

[2014-04-19 19:30] #3 closed, assigned to nobody

[2014-04-19 19:38] GeertvanHorrik opened #4 "Support pdb checksum verifications"
Checksums for verification should be implemented.

[2014-04-19 22:36] GeertvanHorrik opened #5 "Remove wait for key input when an error occurs"
When an error occurs, the console application waits for a key input. This should be removed to prevent it from blocking builds.

[2014-04-19 22:42] #5 closed, assigned to nobody

[2014-04-19 22:44] GeertvanHorrik opened #6 "Consider creating an msbuild task"
Not sure if people want this. Will await comments on this issue report to see if it is worth the investment of implementing.

[2014-04-19 22:55] GeertvanHorrik opened #7 "Show relative paths to make to file names easier to read"
Especially on build servers, the file names can become quite long. Use filenames relative to the solution root.

[2014-04-19 23:01] #7 closed, assigned to nobody

[2014-04-19 23:51] GeertvanHorrik opened #8 "Console stays red after an error occurs"
This is an issue in Catel, see https://catelproject.atlassian.net/browse/CTL-418 for more details.

This issue is fixed in Catel. Will update once new nightly build is out.

[2014-04-20 09:37] #8 closed, assigned to GeertvanHorrik

[2014-07-08 14:12] apobekiaris opened #9 "cannot make it work"
i download Catel.Core and in a new console app i coded just for the sake of debugging

Catel.Core.ModuleInitializer.Initialize();

I also checked the Modules window and the symbols are not loaded for the assembly. What can i be missing?

[2014-07-08 22:44] apobekiaris opened #10 "cannot compile source"
i get

Error   1   NuGet Package restore failed for project GitHubLink: The 'Fody 1.23.2' package requires NuGet client version '2.8' or above, but the current NuGet version is '2.7.40911.287'..     0   0

[2014-07-08 22:47] apobekiaris opened #11 "provide a global pdb path"
there is a call in LinkToProject

string fullPath = Path.GetFullPath(project.GetOutputPdbFile());

this will return an incorrect path in the case you used msbuid with a custom OutputPath.

[2014-07-15 22:00] #10 closed, assigned to nobody

[2014-08-27 09:08] tpluscode opened #13 "Cannot load FSharp.Core"
I've tried both Nuget and Chocolatey and I'm getting a FileNotFoundExceptionwhen running GitHubLink

[2014-08-27 09:25] tpluscode opened #14 "Question about git revision"
I've been wondering how GitHubLink processes pdb work.

I mean does the modified pdb contain precise revision information so that code for a specific revision is downloaded from github rather than branch's HEAD?

[2014-08-27 09:41] #13 closed, assigned to nobody

[2014-08-27 09:46] #9 closed, assigned to nobody

[2014-08-27 10:00] #14 closed, assigned to nobody

[2014-08-27 12:06] tpluscode opened #15 "Debugging GitHubLinked assembly"
I've created a package, which includes the source links to github. My pdb contains these lines

[code]

But when I try to step into that EntityContextFactory class I get the typical browse for source dialog, with original location saying `c:\BuildAgent\work\93934db5aef9e39\RomanticWeb\EntityContextFactory.cs`.

Also here's what the source not found window says in VS

[code]

I have the checkbox ch

[2014-08-27 13:29] verheyenkoen opened #16 "Help documentation on url parameter is incorrect"
The url parameter (-u) is documented as "-url" twice in the help feature.

[2014-08-27 13:33] #16 closed, assigned to nobody

[2014-08-28 08:26] GeertvanHorrik opened #20 "Support bitbucket and custom base urls"
Add support for bitbucket and other custom base urls.

[2014-08-28 08:41] GeertvanHorrik opened #21 "Support pull requests"
Pull requests aren't supported yet. Should be implemented. I did this for GitVersion as well so can use the same code.

[2014-09-01 09:29] GeertvanHorrik opened #24 "Support update from GitHubLink => GitLink via Chocolatey and NuGet packages"
By @gep13

Just another suggestion, while I am here...

You could push a new version of the GitHubLink package to Chocolatey, which does nothing more than take a dependency on the new GitLink Chocolatey package (i.e. take out the existing chocolateyInstall.ps1). That way, anyone running either:

[code]

or

[code]

will automatically get the latest version of GitLink.

[2014-09-01 13:59] GeertvanHorrik opened #25 "Support C++ projects"

[2014-09-01 14:13] GeertvanHorrik opened #26 "Support commit sha to create a specific commit pdb"
Unfortunately the -c is already take so we have to think of a different name.

[2014-09-01 18:53] #20 closed, assigned to nobody

[2014-09-01 22:09] #25 closed, assigned to nobody

[2014-09-02 09:11] #11 closed, assigned to nobody

[2014-09-02 09:12] GeertvanHorrik opened #27 "External provider support - Assembla"
See https://www.assembla.com/home

[2014-09-02 09:12] GeertvanHorrik opened #28 "External provider support - Beanstalk"
See http://beanstalkapp.com/

[2014-09-02 09:13] GeertvanHorrik opened #29 "External provider support - CloudForge"
See http://www.cloudforge.com/

[2014-09-02 09:14] GeertvanHorrik opened #30 "External provider support - Codebase"
See https://www.codebasehq.com/

[2014-09-02 09:14] GeertvanHorrik opened #31 "External provider support - FogCreek"
See https://www.fogcreek.com/kiln/

[2014-09-02 09:15] GeertvanHorrik opened #32 "External provider support - planio"
See https://plan.io/

[2014-09-02 09:15] GeertvanHorrik opened #33 "External provider support - ProjectLocker"
See http://projectlocker.com/

[2014-09-02 09:16] GeertvanHorrik opened #34 "External provider support - RhodeCode"
See https://rhodecode.com/

[2014-09-02 09:16] GeertvanHorrik opened #35 "External provider support - Unfuddle"
See https://unfuddle.com/

[2014-09-02 09:17] #26 closed, assigned to nobody

[2014-09-02 09:20] GeertvanHorrik opened #36 "External provider support - custom provider"
Allow users to create a custom provider by specifying the url with replacements such as {CommitSha}.

[2014-09-02 12:03] #21 closed, assigned to GeertvanHorrik

[2014-09-02 12:13] GeertvanHorrik opened #37 "Support private repositories with authentication"
Support private repositories.

[2014-09-03 13:01] GeertvanHorrik opened #39 "Remove reference to FSharp.Core and SourceLink"

[2014-09-03 13:01] #39 closed, assigned to nobody

[2014-09-03 14:21] #4 closed, assigned to nobody

[2014-09-05 20:24] #24 closed, assigned to GeertvanHorrik

[2014-09-20 21:13] GeertvanHorrik opened #40 "Embed pdbstr so debugging sdk is no longer required"
Check if we are allowed to distribute the executable.

[2014-10-15 20:16] #15 closed, assigned to nobody

[2014-11-06 11:05] GeertvanHorrik opened #42 "IndexOutOfBounds for specific pdb files"
I've got a IndexOutOfBounds exception here: https://github.com/CatenaLogic/GitLink/blob/develop/src/GitLink/Pdb/PdbFile.cs#L264

[2014-11-06 11:55] GeertvanHorrik opened #43 "Automatically detect the remote url based on local git directory"
It should be possible to determine the remote url based on the local git directory. Then we can create something like this:

gitlink.exe c:\source\myproject

Then if there is a .git directory, we check out the remote and know the remote url and automatically fill that for the user.

[2014-11-08 18:47] tpluscode opened #44 "Relative path parameter doesn't work"
Hi

Here's how I run GitLink in my solution

[code]

Apparently the `..` path segment doesn't work for some reason.

I've fixed this by wrapping the path in $([System.IO.Path]::GetFullPath(..)) but it looks like a bug.

Tom

[2014-11-09 15:11] #44 closed, assigned to GeertvanHorrik

[2014-11-11 19:14] tpluscode opened #45 "NuGet package questions"
First, in issue #44 I mentioned that it's not possible to install the package in projects targeting .NET 4.0 and earlier. Looking at the package I realized that it actually adds a reference to the project where it's installed.

Is that really necessary? I figure that GitLink is more related to the general build process and as such I think that the exe could be directly in the `content`. To actuall

[2014-12-11 09:48] GeertvanHorrik opened #46 "Add command line parameter to ignore specific projects"
Initiated by https://github.com/oxyplot/oxyplot/pull/284

something like -ignore [path-to-csproj], comma separated. When walking though the sln, you just ignore the matching entries.

[2014-12-13 09:32] #46 closed, assigned to GeertvanHorrik

[2014-12-19 10:44] GeertvanHorrik opened #48 "Update libgit2sharp for Git vulnerability"

[2014-12-19 10:45] #48 closed, assigned to GeertvanHorrik

[2015-01-07 18:19] niemyjski commented on #40
+1

[2015-01-07 18:47] GeertvanHorrik commented on #40
Someone has access to TFS 2012 so I can get the version I can reproduce?

[2015-01-07 18:59] Mpdreamz commented on #40
Installing 2012 update 4 now :sweat_drops: *fingers crossed*

[2015-01-07 19:06] Mpdreamz commented on #40
Glad i checked:
The exe file located here:

https://github.com/jstangroome/IndexTeamFoundationSources/tree/e00109aeeb4a73f260ceca77d85d0534d8cbd480/Tools

is version `6.12.2.633`

Can hold off on installing TFS bloat

[2015-01-07 19:07] GeertvanHorrik commented on #40
Cool! I will try to fix this soon (maybe tonight?).

[2015-01-07 19:09] Mpdreamz commented on #40
Sweet! can't wait to finally include gitlink in the build for https://github.com/elasticsearch/elasticsearch-net/

[2015-01-07 19:10] GeertvanHorrik commented on #40
It's so nice, I can't help but hate products that don't include it. You will get used to it too fast ;-)

[2015-01-07 19:43] GeertvanHorrik opened #49 "Remove temporary directory when GitLink is finished"
Clean up after you are done. Create a disposable context that will gather all temporary files.

[2015-01-07 20:06] GeertvanHorrik commented on #49
Done.

[2015-01-07 20:06] #49 closed

[2015-01-07 20:07] GeertvanHorrik commented on #40
It's done! See (prerelease) 2.2.0-unstable-2

[2015-01-07 20:20] #40 closed

[2015-01-07 23:15] Mpdreamz commented on #40
Awesome @GeertvanHorrik confirm it works, implemented this in our build as per https://github.com/elasticsearch/elasticsearch-net/pull/1188

Thanks for pursuing this!

[2015-01-27 18:06] #43 closed

[2015-02-17 18:39] GeertvanHorrik commented on #45
Agree. How would you change this. To add it as a tool? Interested in doing a PR for this?

[2015-03-12 11:43] AArnott opened #53 "External provider support - visualstudio.com"
See http://visualstudio.com/

[2015-03-12 11:46] GeertvanHorrik commented on #37
I am still considering this, but we should never store the username / password in the pdb files, so we need something to work around this (ask for credentials on the client machine).

[2015-03-12 11:55] AArnott commented on #53
It appears the way URLs work on visualstudio.com today, it will take more than one HTTP request per file to download its raw content.

[Docs explaining the REST API for downloading files](https://www.visualstudio.com/integrate/api/git/items)

[2015-03-12 12:21] GeertvanHorrik commented on #53
Looking for an open-source repository on visualstudio.com so we can test this.

[2015-03-13 01:21] AArnott commented on #53
I could certainly push an open source git project to visualstudio.com for you to test against. But I wonder... visualstudio.com currently requires everyone to be authenticated. Can the source server enabled PDBs handle making authenticated HTTP calls (perhaps exposing the auth challenge to the user) or must it be anonymous HTTP?

[2015-03-13 07:06] GeertvanHorrik commented on #53
We are considering that in #37. However, we need to figure out a safe way to store the credentials (on the remote computer, not in the pdb files).

[2015-03-13 13:50] AArnott commented on #37
Thanks for being security conscious, @GeertvanHorrik.

[Check out this guide][1] for using the Windows Credential store to store the account information.

 [1]: http://stackoverflow.com/questions/17741424/retrieve-credentials-from-windows-credentials-store-using-c-sharp

[2015-03-13 14:07] GeertvanHorrik commented on #37
I'll look into it. See http://www.codeproject.com/Articles/245824/Sourcepack-indexing-PDB-files-with-source-archive, it shows how to run custom commands. We should focus on SRCSRVCMD. It might be a custom app we will ship next to the pdb files (but is that something we really want to do?).

[2015-03-13 14:13] AArnott commented on #37
Good point. Probably not, although an exe *could* be shipped in the NuGet package's tools folder so at least it doesn't tend to result in the consumer shipping the .exe with their app.

[2015-03-13 14:15] AArnott commented on #37
Maybe you can write a small powershell script that does the WinCred interaction and your SRCSRVCMD can invoke powershell with the script carried as an argument?

[2015-03-13 14:42] GeertvanHorrik commented on #37
Yep, good idea. Will look into it as soon as I have time (a few deadlines coming up soon, and today everything I touch breaks, so not a good day).

[2015-04-21 19:50] GeertvanHorrik opened #56 "Support documentation in readme.io"
Move documentation to readme.io.

[2015-04-21 20:12] GeertvanHorrik opened #57 "Create CONTRIBUTING.MD"

[2015-06-01 08:09] GeertvanHorrik commented on #37
We implemented native credential prompters in another lib. Maybe we can re-use part of that code so we can safely store the credentials inside the windows vault instead of inside the pdb files.

[2015-06-01 18:19] #57 closed

[2015-07-06 04:02] ctaggart commented on #37
Visual Studio will prompt for a username and password if the source server responds with a HTTP 401. Unauthorized. In order to make GitHub private repositories compatible, I created a basic http proxy. This solution should work with GitLink users as well. Details here:
http://blog.ctaggart.com/2015/07/sourcelink-10-with-private-github.html

[2015-07-17 10:56] dothebart opened #58 "output help if no arguments are given"
$ gitlink
GitLink v2.1.0.0
================

Arguments:

Invalid number of arguments
An unexpected error occurred | [GitLinkException] GitLink.GitLinkException: Invalid number of arguments
   bei Catel.Logging.LogExtensions.ErrorAndThrowException[TException](ILog log, String messageFormat, Object[] args) in c:\CI_WS\Ws\5778\Source\Catel\src\Catel.Core\Catel.Core.Shared\Logging\Extensions\LogExtens

[2015-07-17 10:59] dothebart opened #59 "breaks when called via ssh"
gitlink /h
GitLink v2.1.0.0
================

Arguments: /h

Update pdb files to link all sources. This will allow anyone to step through the source code while debugging without a symbol source server.

Note that the solution must be built because this application will update existing pdb files.

GitLink [solutionPath] -u [urlToRepository]

    solutionPath       The directory containing the solut

[2015-07-17 11:03] GeertvanHorrik commented on #58
Agree. But it means you have a wrong command line. Can you post that one here?

[2015-07-17 11:06] dothebart commented on #58
it was simply empty, as shown above. no arguments.

[2015-07-17 11:16] GeertvanHorrik commented on #58
You must specify a directory:

[code]

See docs:

https://github.com/GitTools/GitLink

[2015-07-17 11:18] GeertvanHorrik commented on #59
Thanks for reporting. Not sure why ReadKey doesn't work when calling via ssh.

[2015-07-20 09:03] dothebart commented on #58
Hm, It seesm it doesn't work for me that way. We (arangodb) generate the vsd files using cmake in a fresh directory (i.e. Build64) which then for shure is not inside of git. Is there a way to specify the source root, and the build root?
It also doesn't seem to like the projects generated:
GitLink v2.1.0.0
================

Arguments: ./Build64/ -u https://github.com/arangodb/arangodb -b devel

Fai

[2015-07-27 07:21] GeertvanHorrik commented on #58
GitLink uses the VS project system to load the projects (in order to retrieve paths, etc). Apparently the imported props file cannot be found. Can you open this project / solution in VS?

[2015-07-31 09:14] dothebart commented on #58
yes, it perfectly well opens in vs. Cmake / windows also uses msbuild to do the compiling.
If you want to take a closer look:
https://github.com/arangodb/arangodb
Our windows build procedure:
https://docs.arangodb.com/cookbook/CompilingUnderWindows.html

[2015-09-08 15:31] naveensrinivasan opened #60 "Display commandline args when none are given"
When gitlink is run without any command line argument it throws an exception

[code]

It should provide the available arguments similar to this
[code]

[2015-09-08 15:51] GeertvanHorrik commented on #60
Agree. Interested in doing a PR?

[2015-09-08 16:22] naveensrinivasan commented on #60
Yes, I'll take this.

[2015-09-09 14:07] #60 closed

[2015-09-23 12:57] onovotny opened #62 "Create VSO vNext Build Task for calling GitLink"
VSO's vNext build agents supports building from GitHub and any other external Git repo. GitLink can/should be packaged up as a Build Step for use there more easily.

See GitVersion for an example:
https://github.com/GitTools/GitVersion/tree/master/src/GitVersionVsoTask

[2015-09-23 17:24] GeertvanHorrik commented on #62
Thanks, we will consider adding a task.

[2015-10-17 23:40] onovotny opened #63 "Option to suppress errors"
Instead of having to enumerate projects to skip, I'd really like to just suppress error generation. The main scenario is appveyor where an error code is hard to ignore externally. I don't want to have to specify every project to skip, I'd rather just pass in a command line param to ignore all errors.

[2015-10-20 12:29] GeertvanHorrik commented on #63
That means only the error output messages or also the exit code? We need to think about the impact (for example, what kind of errors could we ignore, what kind of errors can't we ignore).

[2015-10-20 12:30] onovotny commented on #63
Error output messages are ok. It's the exit code that tools like AppVeyor parse and fail at. I'm not suggesting this be the default, but at least an option.

[2015-10-20 12:30] GeertvanHorrik commented on #63
I can understand where you are coming from, but you are probably only interested in ignoring the "no pdb found" or "cannot parse project file" ones, right?

[2015-10-20 12:31] onovotny commented on #63
yup

[2015-10-20 12:31] onovotny commented on #63
Basically, I don't want to maintain an -ignore list as that's brittle and requires me to change the build tooling.

[2015-10-20 12:32] GeertvanHorrik commented on #63
Let me think of a good switch name. If you have good ideas, let me know :-)

[2015-10-20 12:34] onovotny commented on #63
how about a general /errorsAsWarnings = true and then the errors would be logged as warnings and the exit code is 0

[2015-10-21 08:22] GeertvanHorrik commented on #63
Sounds good. I will put it on the list but need to finish a few other things first.

[2015-10-24 13:10] GeertvanHorrik commented on #63
@onovotny latest prerelease (Build - 2.2.0-unstable.27) contains this feature. Please let me know if it works for you.

[2015-10-24 14:38] onovotny commented on #63
Yes, that worked great! Let me get rid of this nasty PS hack in AppVeyor:

`- ps: '.\packages\gitlink\lib\net45\GitLink.exe . -f MetroLog.sln -u https://github.com/onovotny/metrolog -s $env:APPVEYOR_REPO_COMMIT;if($lastexitcode -ne 0){$lastexitcode = 0}'`

[2015-10-24 17:54] GeertvanHorrik commented on #63
Great, thanks for letting me know! And glad that you can use it in a much easier way. If you have more ideas, let me know. I just need find to implement it, but now it's part of GitTools org, I might get some help ;-)

[2015-10-24 17:54] #63 closed

[2015-10-25 12:11] GeertvanHorrik opened #64 "Ignore xaml files by default"
Xaml files are useless for GitLink anyway, and it skips a few warnings.

[2015-10-25 12:16] GeertvanHorrik commented on #64
Done.

[2015-10-25 12:16] #64 closed

[2015-10-25 12:27] GeertvanHorrik commented on #42
This should be fixed in latest prerelease.

[2015-10-25 12:27] #42 closed

[2015-10-30 12:06] jchapuis opened #66 "Internal bitbucket server support"
Hi, we are using a version of bitbucket hosted internally (e.g. bitbucket.foobar.com) could such urls be supported as well?

[2015-10-30 12:23] GeertvanHorrik commented on #66
I think you can already specify a custom url?

[2015-10-30 12:58] jchapuis commented on #66
Thanks for your answer! at present if I run e.g. GitLink.exe ../ -u https://bitbucket.fobar.com/ I get the following exception: GitLink.GitLinkException: Cannot determine git provider

[2015-10-30 13:07] GeertvanHorrik commented on #66
You are right. We need a custom "provider" argument. Interested in doing a PR?

[2015-11-07 00:16] marcind commented on #37
Hi all,
will you guys be able to make any progress on this soon? I'm really interested in getting this working. @ctaggart 's proxy service is good enough for my needs, however it doesn't work with GitLink because the github provider strictly matches the URL points at github.com (which is different for the proxy service). Looks like I could achieve what I want by writing my own provider, but that e

[2015-11-07 01:59] ctaggart commented on #37
@marcind, have you tried using `SourceLink.exe` instead? It doesn't limit the URL. http://ctaggart.github.io/SourceLink/

[2015-11-07 11:15] GeertvanHorrik commented on #37
@marcind, thanks for contacting. Would the ability to specify a custom url be sufficient? That is just a few changes:

1. Introduce parameter in context and parser
2. Override url and use custom provider

I am currently on holiday, but if you want you can try a PR if you are interested. If not, I will look into it next friday or so.

[2015-11-09 23:49] marcind commented on #37
I've prepared a PR that with a fairly small change handles a bunch of open issues. See the [PR](https://github.com/GitTools/GitLink/pull/67) for details.

I'm not sure how much my approach matches with what you were suggesting, but it felt like the simplest way to achieve the goal without having to modify any of the binary contracts (in case you guys subscribe to semver). Let me know what you thin

[2015-11-12 07:30] GeertvanHorrik commented on #37
Still needs a proxy, but I will leave it to the end-users if they want to go that route (the proxy will need credentials, so might be a possible security issue if not done / hosted correctly). But custom urls are supported thanks to @marcind so this is supported.

Closing the issue, feel free to re-open if you feel this is incorrect.

[2015-11-12 07:30] #37 closed

[2015-11-20 11:21] jchapuis commented on #66
Thanks! This is still not helping however, since hosted bitbucket (stash) uses a different url pattern, like this: http://host/projects/{project}/repos/{repo}/browse/path/to/file.ext?at=revision&raw
There's a suggestion for something more standard (https://jira.atlassian.com/browse/BSERV-4036) but nothing ready yet. Ideally we should be able to provide the entire url pattern as well. I could imagi

[2015-11-20 11:26] GeertvanHorrik commented on #66
Interested in doing a PR? Should be very easy to do now?

[2015-11-24 05:48] neutmute opened #69 "how to verify gitlink worked"
Hi there - I've run gitlink against my pdb's for a bitbucket repo but VS2015 still acts as if the sources files are on a local drive where the binaries were compiled. I've set the VS2015 Debugging, Symbols options as suggested.

Is there a way to verify the PDB's have been updated? I tried using [dia2dump](http://www.lionhack.com/2014/01/14/advanced-dotnet-debugging-pdbs-and-symbols/) and can see

[2015-11-24 09:34] GeertvanHorrik commented on #69
What it does is redirect the files if they cannot be found on your local machine. Since you can find them on your local machine (probably testing on the same machine that built the assemblies), you need to:

1. Temporarily rename the original directory so it cannot find the files
2. Try on a different machine (that does not have the same files in the same place!)

[2015-11-24 09:43] sMusy commented on #66
Hi, I tried to implement the functionality mentioned in that topic and I'd like to do a PR.

I did pretty much the same thing as Marcind with his CustomRawUrlProvider, here is the readme part.

## Running for an uncommon URL

When working with a repository using uncommon URL you can use placeholders to specifiy where the filename and revision hash should be, use `-u` parameter with the custom URL

[2015-11-24 11:04] GeertvanHorrik commented on #66
Sounds good. As long as we maintain backwards compatibility with the other pr, go ahead :-)

[2015-11-25 03:10] neutmute commented on #69
I opened the pdb in notepad++ and worked out the error by viewing the `srcsrv` text. thanks for the tips.

[2015-11-25 03:10] #69 closed

[2015-11-25 03:16] neutmute opened #70 "BitBucket repo's may have a period (.) in the name"
Given a URL to Bitbucket like:

https://bitbucket.org/mycorp/mycorp.framework/raw/7c5ace02a8a10c718ef54b17870e97c638c95a29

The regex in the provider incorrectly constructs the srcsrv url ike:

https://bitbucket.org/mycorp/mycorp/raw/7c5ace02a8a10c718ef54b17870e97c638c95a29

Dropping the `.framework` segment. I'll submit a PR to fix this

[2015-11-25 09:03] GeertvanHorrik commented on #70
Thanks, much appreciated.

[2015-11-25 09:03] #70 closed

[2015-12-26 23:04] roji opened #74 "Usage with DNX?"
Does GitLink support DNX, i.e. project.json builds? Some documentation on this would be helpful...

[2015-12-28 08:29] GeertvanHorrik commented on #74
Json projects itself *could* be possible, but the tooling running the code must support pdb and srcsrv as well (not sure if mac and linux support that). And the commandline code can become dnx, but pdbstr is not (its a win utilility).

[2015-12-31 03:42] ivan-danilov opened #75 "Specify which projects should be indexed"
Instead of ignoring projects it would be nice if one could opt-in rather than opt-out. Often there's only one or two projects that are packaged, and many test ones that not need to be indexed because they never go outside of where they were built. Now it takes enumerating all of them in the `-ignore` option which is tedious.

[2016-01-02 17:23] GeertvanHorrik commented on #75
I understand where you are coming from. Somehow I have a major deja vu feeling from this issue, but I can't remember why.

Shouldn't be too hard, interested in doing a PR?

[2016-01-02 21:29] ivan-danilov commented on #75
Started to look where to implement tests and found one argument named `include` added in 35ee9d05fb2d5426a9ed9674b847d2484a080003. Probably that's why you have deja vu :)
As I've already decided to put some time here - I've added handling regex patterns both to includes and ignores, wrote dozen unit tests for them and updated readme, so that no one else will ask for the feature that is already the

[2016-01-04 11:31] GeertvanHorrik commented on #75
Awesome, thanks!

[2016-01-04 11:34] GeertvanHorrik commented on #75
Just reviewed the code. A few minor changes, then I can accept. I will immediately release a prerelease on both NuGet and Chocolately.

[2016-01-04 13:11] ivan-danilov commented on #75
Updated PR. Thanks)

[2016-01-04 13:13] GeertvanHorrik commented on #75
Awesome, thanks! Build - 2.3.0-unstable.19 being released right now.

[2016-01-04 13:13] #75 closed

[2016-02-10 11:28] amamh opened #78 "Unable to determine git provider. How to specify the provider?"
I have my own Stash server which I believe is the same as Bitbucket.

I keep getting this error:

An unexpected error occurred | [GitLinkException] GitLink.GitLinkException: Cannot determine git provider
   at GitLink.Context.ValidateContext() in C:\Users\AH87584\Documents\Visual Studio 2013\Projects\GitLink\src\GitLink\Context.cs:line 108
   at GitLink.Linker.Link(Context context) in C:\Users\AH8

[2016-02-10 11:34] amamh commented on #78
duplicate of https://github.com/GitTools/GitLink/issues/66

[2016-02-10 11:56] #78 closed

[2016-02-10 13:55] raghur opened #79 "Question: Updating dependent PDBs in bin/debug?"
So, this must be something simple(possibly). I'm building nuget packages from `bin/{Debug/Release}`.
Let's say I have A.csproj and B.csproj, with A referring to B. I'm packing the nuget out of A's bin/Debug folder. After my compile step,  if I run `GitLink` at the top level, then it updates the pdb files in A's bin/Debug and B's bin/Debug... the trouble is that the b.pdb has already been copied ov

[2016-02-10 14:22] GeertvanHorrik commented on #79
This might indeed be an issue. One solution is to cherry pick the right assemblies when creating the nuget package.

The question is: how do we know the dependencies? This requires us to read the project dependencies, check where their output files are, etc. I am open to this, but has very low prio to be honest. Interested in doing a PR?

[2016-02-10 15:39] raghur commented on #79
PR: at some point in the future, yes. ATM, neck deep in things so don't have time to spare. I wonder though if it's possible that the MSBuild plugin takes care of this? ie. do the PDB update right after the project is built so that when outputs are copied over, it's the modified pdb that goes around?

Do you happen to know if that's how it works?

[2016-02-10 19:30] GeertvanHorrik commented on #79
If I remember correctly, @distantcam was working on a PR with task support, but not sure if he is still on that path.

[2016-02-11 03:58] raghur opened #80 "Question/Help: VS 2015 - Operation not supported?"
I'm doing a quick test with internal bitbucket server and VS 2015 loads symbol but will not pull down the source. I'm testing on the same machine that I built the dll on - however, I have deleted the source file from the disk location to force VS to load source from Git. (Operation not supported from SRCSRV)

Here's the OUtput window
[code]

Here's the `pdbstr` output on the dll
[code]

Things I c

[2016-02-11 05:04] raghur commented on #80
So I re-ran GitLink with `-powershell` and now I get a HTML file. I guess that's because the login form's being downloaded. I have IE open and logged in to my Bitbucket server instance (as advised on the main page)... Any help?

[2016-02-11 12:33] raghur commented on #80
Found it... and for the benefit of anyone else coming across this - so SRCSRV will only download urls without query strings.

I think hoping to get this working with an internal Bitbucket server seems like a dead end!

SRCSRV will re-use a cookie (so if you login to bitbucket server on IE) and then it tries to download, it probably will be able to. But because it can't do query strings, it can't b

[2016-02-11 13:01] sMusy commented on #80
The login page probably means you don't have rights to access the repo. Is it in public access ? If your network is intra that would not be a problem to configure Bitbucket as public access right ?

[2016-02-11 13:04] raghur commented on #80
I have rights  - just have to login to the repo with domain credentials. Even for read access one has to login, since there are lots of repos and people only have access to a subset based on their needs.

[2016-02-11 13:13] raghur commented on #80
Here's an [open ticket](https://jira.atlassian.com/browse/BSERV-4036) on Bitbucket server for providing non-suffixed urls. _(not holding my breath for that, though)_

[2016-02-11 13:46] sMusy commented on #80
Authentication when using powershell option with GitLink is indeed not implemented yet. Giving credentials as parameter is not a good option I guess :)

 A popup asking for credentials when launching the powershell download would be the way to go. I'll look into that and see if I can do a PR as soon as I can.

[2016-02-13 15:01] raghur commented on #80
So does anyone have an idea why SRCSRV will barf on a url with query params? Seems weird... probably worth sending that back to M$ but doubt that it's something they'll fix quickly. Just seems so weird!

[2016-02-14 22:40] sMusy commented on #80
There is an issue about this here https://github.com/ctaggart/SourceLink/issues/94

[2016-02-15 04:16] raghur commented on #80
Thanks @sMusy - that was helpful along with the linked SO post. It's so ridiculous that it boggles the mind. As if it's not possible to find out what protocol (file, unc or HTTP/S) is being used and based on that reject paths. Anyway, I'm just venting :) and it's probably going to stay as is until they move to ppdb or stop using srcsrv.dll in VS.

[2016-04-05 23:51] xoofx opened #83 "Add support for xproj+project.json"
Hi there,
Currently GitLink only supports regular msbuild projects (e.g csproj), and not xproj projects (dnx projects and upcoming dotnet/cli projects). I'm currently migrating all my projects to this model but cannot use GitLink with them.
Could you consider adding support for this kind of projects?
Thanks!

[2016-04-06 07:59] GeertvanHorrik commented on #83
We are definitely open for this

[2016-04-18 18:11] DavidKDeutsch opened #84 "srctool.exe -x not downloading source files"
I have a pdb indexed by gitlink, but for some reason neither Visual Studio nor srctool.exe (with the -x option) attempts to download them. srctool correctly reports what the URLs are, so it knows where to get them, but just doesn't make a request to the web server. Any idea what might be going on? Is there a sample indexed pdb I can download that does work with Visual Studio, so I can see if this

[2016-04-20 08:43] GeertvanHorrik commented on #84
Do you have a symbols location set up in Visual Studio? It must have a location to store the symbols.

[2016-04-21 00:10] DavidKDeutsch commented on #84
Yup. The problem turned out to be due to the fact that before attempting a download, VS uses the URL to create the directories/file in the symbol cache, and the URL I was hitting had query parameters in it, and '?' and '&' are not valid characters for a file name. Solved it by my having my IT guys set up the server to accept a URL in a different format and performing a redirect. Can't believe MS h

[2016-04-21 00:10] #84 closed

[2016-05-02 16:19] kjeremy opened #85 "Latest 2.2.20 release doesn't contain executable"
The 2.2.0 release only contains the zipped source on the releases tab in github.  The older releases contain a downloadable executable.

[2016-05-02 16:49] GeertvanHorrik commented on #85
Correct. We deploy the executable to both nuget and chocolatey.

[2016-05-11 11:11] krippz commented on #6
Hi don't know if this is of any interest but you might want to look at this project http://cakebuild.net
its a build system, you write c# tasks and it uses msbuild for the compilation all other tasks you might want you can write in c#. They have a system for addins, basically you write a wrapper for your tool in c# create a nuget of it and use it in your project.

[2016-05-11 11:28] GeertvanHorrik commented on #6
I think @gep13 already wrote a cake task for GitLink.

[2016-05-11 13:34] gep13 commented on #6
@krippz @GeertvanHorrik I certainly did.  There is support for all the GitTools in Cake out of the box :smile:

[2016-05-24 17:31] shonnly commented on #80
@raghur - i spend a whole day trying to fight it, and now i see this thread. Any update on this? Seems like i am stuck with the same situation exactly.

Did anyone found a way to fix this?

[2016-05-25 06:54] raghur commented on #80
@shonnly  - no update. BTW, the bitbucket server ticket is marked as fixed (as in they support query param less urls now) however, you probably have to update to the latest server (fix ver is 4.7.0)

[2016-05-28 14:39] shonnly commented on #80
@raghur - i ended up setting up a tiny Web Api service that queries a local clone of a Git repository. So this pretty much solved the issue for me and my team. I had to make some changes to GitLink. If you decide to go the same path, i posted a blog post about this.

https://shonnlyga.wordpress.com/2016/05/28/source-server-with-git-repository/

[2016-05-28 14:50] shonnly commented on #66
This is an awesome feature really!
By the way, seems like a common issue with internal Git repositories is dealing with some kind of authentication mechanism. I had the same problem, so i ended up setting up a tiny Web Api service that queries a local clone of a repository on the server.

I was bombarded at my company with requests for assistance in setting this up, so wrote a post about it here.

[2016-05-28 15:09] GeertvanHorrik commented on #66
@shonnly This is really awesome, well done! I thought that GitLink already supported powershell commands to retrieve the files? The other 2 changes could be embedded too, then you don't have to maintain a custom version of GitLink.

[2016-05-28 15:17] shonnly commented on #66
@GeertvanHorrik - It does, but the command printed to the .pdb did not work for me. I asked at #73 to make sure if that is only me. If others experience similar issue with the powershell command, i'd love to make PR with a fix.

As for the other 2 changes, i'll try and find the time to generalize the solution and submit a PR.

[2016-05-29 17:54] adamralph commented on #75
How far away is 2.3.0 from a stable release? I'd love to start using `-include`.

[2016-05-30 08:42] GeertvanHorrik commented on #75
Good one, I will bump it right now.

[2016-05-30 08:47] GeertvanHorrik commented on #75
Done.

[2016-05-30 09:06] adamralph commented on #75
Fantastic. Thanks!

You'll shortly have some new additions to https://github.com/GitTools/GitLink#projects-using-gitlink :smile:

[2016-05-31 12:14] hikalkan commented on #83
Any update on that?

[2016-05-31 12:16] GeertvanHorrik commented on #83
We haven't seen a PR yet. But on the other hand, glad we skipped the project.json ride now it's being replaced by csproj again.

[2016-05-31 14:13] hikalkan commented on #83
Yes, it will be changed again. But for a few months (or more), there will be xproj files. Also, then csproj file will be different than current format. It would be good if GitLink supports both formats.

[2016-06-07 14:11] GeertvanHorrik commented on #66
@shonnly  Sorry for my late reply, been busy. Let's assume you were not the only one with issues with the powershell. Could you please create a PR?

About the other 2: would be great to see them as well, but no rush, I can imagine you have other tasks on your plate as well. Thanks in advance!

[2016-06-22 03:21] nobitagamer opened #87 "GitLink.exe should in 'tools' folder instead of 'lib'"
In the latest version published on nuget.org the .exe file is inside 'lib' folder but the package i downloaded on 06/21/2016 it's in corrected 'tools' folder

[2016-06-23 12:35] GeertvanHorrik commented on #87
From what I remember at the time I wrote it, my logic was that via NuGet, you want to use as library (thus lib), from chocolatey it installs as a tool.

[2016-06-23 12:45] dazinator commented on #87
I use NuGet for tools packages quite a bit, I find it convenient for them to be in my solution directory and restored on package restore. Imho it would definitely make more sense to have a tools package, as consuming GitLink.exe is probably much more likely the intention, than referencing the library. No harm in having an additional nuget package for the library though

[2016-06-23 16:18] Ashtonian opened #88 "How to use?"
I'm just a bit confused with how to use the tooling exactly?

Is the Nuget Package or the CLI the preferred way of using this tool or do I need both?
How does it play with the jetbrains decompiler/toolset?
How do you actually use the nuget package - the gif just has the source code running and then you jump in the code with what?

Sorry if I'm missing something but the documentation is kind of jum

[2016-06-23 16:22] GeertvanHorrik commented on #88
See readme.

[2016-06-23 16:25] Ashtonian commented on #88
updated issue with some detail - sorry for the empty issue - I hit enter too soon.

[2016-06-23 16:30] GeertvanHorrik commented on #88
1. You should use the CLI, unless you want to write some automation tool yourself. NuGet is just a way to distribute the CLI
2. Not sure, but if JetBrains supports source servers, this should work out of the box. Even better, they shouldn't have to decompiler because they can retrieve the source files directly (but again, only if they support it).
3. Best is to use the chocolatey package for now.

[2016-06-23 16:32] Ashtonian commented on #88
That makes a lot more sense ! thank you.

[2016-06-23 16:32] #88 closed

[2016-07-14 12:18] tpluscode commented on #87
@dazinator It's sidestepping the issue, but if and only if you would consider using [Paket](https://github.com/fsprojects/Paket) instead of the default package manager, you'll be able to add Nugets to your solution without actually referring them in any project - true tools-only usage.

[2016-07-14 12:25] tpluscode opened #89 "Skipping projects not selected for build"
With the `-f X.sln` switch GitLink is smart enough to only process projects from the solution, which is great.

I've found however that it also tries to process projects not selected for building given the **Configuration**/**Platform** combination.

Maybe they should be skipped by GitLink as well?

[2016-07-14 15:39] hikalkan commented on #83
If this will not take much time, I definetely would like this. Because all new projects with .NET Core / ASP.NET Core support have xproj format now and I believe it will not be changed in a very short time. So, it has worth to support it.
Actually I did try to make it but and made it running. But there were some problems on debugging (was skipping some lines) since I don't know code well.
Thanks.

[2016-07-14 15:42] GeertvanHorrik commented on #83
@hikalkan if you can create a pr with what you have so far, I am happy to help out and finish the feature together.

[2016-07-14 15:43] hikalkan commented on #83
OK, It was a few weeks ago, I will check it again.

[2016-07-15 07:41] pkiers commented on #87
Hey,
Did you hear the latest news? You should definetely read more info here <http://enjoy.suryaplastindo.com/e2paeg>

Yours sincerely, p.kiers@home.nl

[2016-07-15 16:34] GeertvanHorrik commented on #89
I think you are right. Interested in doing a PR?

[2016-07-17 10:48] tpluscode commented on #89
Sure. I see that the necessary information is included in the `Microsoft.Build.Construction.*` types but a lot of it internal. Would you mind me using [ImpromptuInterface](https://github.com/ekonbenefits/impromptu-interface)'s [`ActLike` feature](https://github.com/ekonbenefits/impromptu-interface/wiki/UsageBasic) instead of reflection and adding it to Costura?

[2016-07-18 13:12] tpluscode opened #93 "No local repository is found - NullReferenceException"
I've just set up GitVersion to use dynamic repository and I wanted to GitLink to work the same way. It seems to almost work but breaks somewhere in LibGit2. Here's my output.

[code]

Is there anything I can try?

[2016-07-18 13:18] tpluscode commented on #93
Oh, it's obviously credentials. How do I pass them to GitLink? Or maybe it would be easier to use custom URL directly to https://bitbucket.org/X/Y/raw/{rest}?

[2016-07-18 13:53] GeertvanHorrik commented on #93
For gitlink to clone the url, credentials are easy. But for the actual links (for example, to bitbucket), credentials are hard. For example, everyone should actually have their own credentials / authentication token when requesting the source.

I think some users succeeded in using powershell to authentication, but I never used it myself.

[2016-07-25 12:01] #89 closed

[2016-08-29 19:08] niemyjski commented on #83
+1

[2016-08-29 19:17] ejsmith commented on #83
Don't think it makes sense to do any work on this until they finalizing the new tooling.

[2016-08-29 19:49] GeertvanHorrik commented on #83
Agree. It's a lot of work to implement this, from what I understood the project.json is going away again and being replaced by xproj.

[2016-09-01 15:24] StephenCleary opened #94 "Sources found but not downloaded"
[This GitHub project](https://github.com/exceptionless/Foundatio.Repositories) is attempting to use GitLink ([run in AppVeyor](https://ci.appveyor.com/project/Exceptionless/foundatio-repositories/build/2.0.194#L262)) for [this branch](https://github.com/exceptionless/Foundatio.Repositories/tree/feature/config-refactor), which does create a source-indexed pdb in [the NuGet package](https://www.nuge

[2016-09-01 19:18] GeertvanHorrik commented on #94
1. Have you included the PDB files inside the nuget package?
2. Have you enabled source stepping inside visual studio?
3. Have you disabled "my source only"?

[2016-09-01 20:31] StephenCleary commented on #94
Yes; yes; and yes.

Upon further investigation, it looks like stepping into *synchronous* methods works fine, but stepping into *asynchronous* methods does not work.

I just tried this test code:

    var c = new Foundatio.Repositories.Elasticsearch.Configuration.ElasticConfiguration(null, null, null, null);
    await c.ReindexAsync();

(in the context of an xUnit unit test run via the Visual Stud

[2016-09-01 20:33] GeertvanHorrik commented on #94
Yes, this is "normal". The reason is that the method immediately returns a task (the debugger is not aware of awaits or doesn't support it).

[2016-09-01 20:46] StephenCleary commented on #94
It still won't step into it, which is definitely a bug. Asynchronous methods begin executing synchronously, and even if you call it as `var task = c.ReindexAsync();`, it won't step into it.

Probably related to [this](http://inedo.com/support/questions/4063).

Closing this, since it is definitely a Visual Studio bug. Reported [here](https://connect.microsoft.com/VisualStudio/feedback/details/31009

[2016-09-01 20:46] #94 closed

[2016-09-02 13:47] StephenCleary commented on #94
If you're interested, there's a repro [here](https://github.com/StephenCleary/GitLinkTestConsole), using [this GitLinked library](https://github.com/StephenCleary/GitLinkTestLib). I'll keep you updated with Microsoft's response.

[2016-09-02 13:53] GeertvanHorrik commented on #94
Very nice, thanks for keeping us up-to-date.

[2016-09-04 03:54] ghuntley commented on #83
3 cute kittens will be awarded to the victor (whomever raises and merges the PR)

![](https://cloud.githubusercontent.com/assets/127353/18228951/046a1778-72a7-11e6-8ceb-49bfca647d75.jpg)

[2016-09-05 13:45] niemyjski commented on #83
@ghuntley does that include shots and free shipping?

[2016-09-08 15:41] AGBrown opened #95 "Exclude files on command line invocation."
Is there a way to exclude individual files from linking?

As an example use case:

 - GitVersionTask injects an assemblyinfo into the final assembly
 - This is registered at the `<project\obj\release\gitversiontaskassemblyinfo.g.cs` path.
 - When GitLink builds it then warns that these files are missing (which is expected, and not a problem).

It would be nice to exclude them from the linking proc

[2016-09-12 08:27] GeertvanHorrik commented on #95
I think you can ignore projects, not files. The reason for this is probably because pdbstr will use a variable for the urls. However, I think that ignoring .g.cs files would be a good idea by default anyway.

Interested in doing a PR for this?

[2016-09-15 18:10] mesheets opened #97 "ReadMe.md Documentation Questions/Clarifications"
I have been trying out GitLink, and it seems to fill a needed role in enabling Symbol Server / Symbol Store integration capabilities when using a Git-based version control repository.  In working through this, I have a few questions/clarifications related to the ReadMe.md.

This would not appear to be universally true; rather, it would seem this is only true in scenarios where the PDB symbol files

[2016-09-15 20:06] GeertvanHorrik commented on #97
1. Technically: yes, actually shipping the pdb files makes the symbol servers obsolete. You would still need to ship the (updated) pdb files with your assemblies (via NuGet or your way of deployment). If you are attaching to a process, you could choose to save the updated pdb files somewhere yourself.

2. You are correct, query parameters could be a culprit here. Are you interested in doing a PR f

[2016-09-16 03:53] mesheets commented on #97
I appreciate the follow up.

With deploying PDBs, hasn't deploying them always been an option to avoid symbol server setup?  To add some detail to some scenarios alluded to the original post, in some contexts such as security-sensitive or government work, deployment of symbols is forbidden.  In other situations, bandwidth/size considerations might preclude deployment of symbols to clients.  Perhap

[2016-09-18 07:46] GeertvanHorrik commented on #97
1. No, simply deploying wasn't the solution because the paths in the pdb files would point to the paths used on the build server (e.g. C:\CI_WS\12345\MyProject\MyFile.cs), which aren't available on other machines. Replacing the local paths with urls is what GitLink does. If you cannot deploy pdb's, GitLink is not the tool to use.

[2016-09-19 13:55] mesheets commented on #97
OK, that explanation helps, because based on that I don't think we're on the same page, as (1) our setup is working in the exact fashion that seems to be described as not possible and (2) if the symbol files are referencing the build server's local paths, then it would appear that that build process has not been setup/configured correctly.  I first started using this type of setup about 10 years a

[2016-09-21 09:33] GeertvanHorrik commented on #97
Interesting approach of the usage of GitLink. I don't have a lot of experience with private symbol source servers myself (only public ones for open-source projects), hence my response that you need to publish the updated pdb files together with the nuget packages making symbol source servers obsolete.

I think you found a nice niche usage of GitLink :-)

[2016-09-23 05:29] sandersaares commented on #85
When can we expect a fix to this issue? Downloading a zip is way easier than having to install something from some package store.

[2016-09-27 13:26] GeertvanHorrik commented on #85
I will add the executable now.

[2016-09-27 13:28] GeertvanHorrik commented on #85
Done.

[2016-09-27 13:28] #85 closed

[2016-09-29 21:30] shonnly commented on #66
@GeertvanHorrik Oh, sorry for ignoring this for so long, couldn't get to it. Anyway, found some time to open the source again today, and made a PR with the Powershell fix. It solved the issues for me, however Powershell is not my mother's tongue, so would be great to get some feedback on the fix.

Once again, great tool!

[2016-10-02 11:13] rvdginste opened #99 "Error when solution file is not in the root of the git repository"
This is based on the develop branch of the repo (commit 93237bbfbca506a0211f8f5104075ea8af6afb77).

When I run gitlink I get an error because (as I understand) the Git repository is initialized with the directory where the solution file is located. This gives an error because the constructor of the Repository class expects the location  of the ".git" folder, or the root of the repository.

[2016-10-02 11:27] GeertvanHorrik commented on #99
On what system are you running this command and what command line parameters have you specified? I think GitLink either creates a dynamic repository (in the temp directory) or uses an existing .git directory in the solution root (not necessarily the .sln-file directory).

[2016-10-02 11:35] rvdginste opened #101 "Problem with authentication on a private bitbucket repository"
I tried to use gitlink on Visual Studio 2013 with ReSharper 2016.2, and I am not very successful. :(
I have a (private) service X that consists of 3 projects: X.host, X.server and X.api. Each project has its own solution and its own git repo. X.server and X.api are normally published as nuget packages on a private nuget package repo, and I normally put the pdb files also in the nuget packages.

So

[2016-10-02 11:49] GeertvanHorrik commented on #101
Private git repositories are a problem. See #37, a proxy would be needed (but note that this would expose your code because the proxy will do the authentication and thus removes the need for client authentication).

You can look into #37 for a detailed discussion on this.

I think that R# doesn't support updated pdb files (though I am not 100 % sure), so when using R#, it will actually decompile a

[2016-10-02 12:12] rvdginste commented on #99
I actually found GitlinkTask in the new prerelases and wanted to use that. That gave an error and then I tried to run it from Visual Studio using the same parameters that the MSBuild task would use.
`GitLink.exe c:\development\X.Server\src -include X.Server -c Debug`

The c:\development\X.Server folder is the root folder of the git repository. The solution is placed in X.Server\src\X.Server.sln. I

[2016-10-02 12:40] rvdginste commented on #101
Thanks for the speedy reply. It's a bit of a bummer though. Up until now I've always published the pdb files together with the dlls in the nuget packages, but that doesn't give access to the correct (version of the) source. Then I wanted to try nuget symbol packages with the myget symbol server and did not manage to get that to work. I had read about gitlink before and always meant to try it and t

[2016-10-02 12:42] GeertvanHorrik commented on #101
Thanks for the feedback. Interested in doing a PR on the readme?

[2016-10-02 12:43] GeertvanHorrik commented on #99
Sounds like a valid reason to walk the tree for git, thanks for the explanation.

[2016-10-02 12:43] #99 closed

[2016-10-04 01:54] gitfool opened #103 "AccessViolationException with prerelease 2.4.0-unstable0038"
We're getting an AccessViolationException using the latest GitLink prerelease (2.4.0-unstable0038).

See the following extract from our TeamCity Cake build:
[code]
This goes away when we switch to the last GitLink stable release (2.3.0).

[2016-10-04 07:53] GeertvanHorrik commented on #103
Hmmmm, will look into this when I have time, thanks for reporting.

[2016-10-04 16:31] caioproiete commented on #103
I can reproduce this on my machine, running GitLink agains a newly created project (Visual Studio -> File -> New -> Project -> Class Library) using .NET 4.5.1.

GitLink v1.2.0.0
================

Arguments: C:\caio-proiete\ClassLibraryWithGitLink -u https://myvcs.com/projects/XXX/repos/repo/name/browse/{filename}?at={revision}&raw -f ClassLibraryWithGitLink.sln

Extracting embedded pdbstr.exe
Usin

[2016-10-05 03:33] kzu commented on #103
I can reproduce the error with GitLink 2.4.0-unstable0034 but not with GitLink 2.4.0-unstable0026.

[2016-10-06 13:54] AArnott commented on #6
Isn't this closed by #81 ?

[2016-10-06 14:01] AArnott opened #104 "MSBuild Task should accept path to PDB directly"
The MSBuild Task should accept the path to PDBs directly rather than solution and project files.
At the moment, it doesn't take Configuration as a property so it will break in Debug builds.

I volunteer to fix it up, if a committer will likely accept the PR.

[2016-10-06 14:49] GeertvanHorrik commented on #104
Yes, we are definitely open for a PR with a fix!

[2016-10-06 14:49] GeertvanHorrik commented on #6
Good point, closing now.

[2016-10-06 14:49] #6 closed

[2016-10-06 15:18] AArnott commented on #104
Great. I'll work on that over the next week or two.

[2016-10-07 04:30] AArnott commented on #104
I'm looking over the code. I'm seeing a lot of things I either need to change or would like to in order to get this work done. There is a high coupling to MSBuild's evaluation model deeply in the code, rather than just on the outer APIs, which doesn't serve well for an MSBuild task -- or a console app which (IMO) should allow me to specify a .pdb and source files directly without any MSBuild corre

[2016-10-07 08:18] GeertvanHorrik commented on #104
Happy with everything, as long as you keep our coding standards we are basically open to anything (small or large), as long as you don't break use-cases for existing users.

[2016-10-07 14:08] AArnott commented on #104
That all sounds fair. :)

[2016-10-08 04:03] AArnott commented on #104
I'm having a difficult time fitting into your existing use cases. Let me explain:

The command line tool seems excessively oriented around MSBuild. It claims to take a "solution directory" yet it fails if I don't give it the root directory of the git repo, and somehow it magically finds the solution directory under src. It still can't find my pdb's unless I point it at my output directory manually

[2016-10-08 08:57] GeertvanHorrik commented on #104
Happy to bump to 3.0 and introduce breaking changes. The product was originally created so we could easily update the pdbs so we could step through the source code of our own tooling and slowly became used by others.

What if we introduce a mode argument? We could have something like this:

[code]

Your msbuild task would look like this:

[code]

The reason the tool checks for an sln directory is

[2016-10-08 13:47] AArnott commented on #104
Nice.

I'm not sure what the mode argument is for. If we want to support taking pdbs as well as sln files on the command line I think we can make that work a bit more automatically than having to specify the mode explicitly. Let's see how it goes. But we wouldn't need it for the MSBuild task. The MSBuild task should never take a solution or project file, as tasks aren't supposed to ever load msbui

[2016-10-08 13:51] AArnott commented on #104
Oh, I also fixed NUnit test runs to not fail while debugging, and to use NUnit 3 instead of 2.

[2016-10-08 13:51] GeertvanHorrik commented on #104
The reason we embed the executable (with costura) is so we have a single executable without any dependencies for people to install.

Updating to NUnit 3 was still on the roadmap (but we have a build server with about 100 projects so wanted to do that all in a batch, but good you already did this one).

[2016-10-08 13:52] AArnott commented on #104
But what value is there, when users acquire it by package managers? Who cares how many files make it up?

[2016-10-08 13:53] AArnott commented on #104
Any idea why the GettingProjectsFromSolution_* tests pass in isolation and fail when run as a batch with the rest?

[2016-10-08 13:54] GeertvanHorrik commented on #104
Not everyone acquires it via package managers, some prefer to copy the file over manually. Why wouldn't we want to deploy it as a single file ;-)

[2016-10-08 13:55] GeertvanHorrik commented on #104
Seems to run fine on the build server (but this is NUnit 2, checking out with 3 on my machine now).

![image](https://cloud.githubusercontent.com/assets/1246444/19213580/a556d13e-8d6f-11e6-93e6-16347bc311ae.png)

[2016-10-08 13:56] AArnott commented on #104
Try the develop branch in my fork where I've already migrated, if you want.

[2016-10-08 13:57] AArnott commented on #104
Well, a few things occur to me:

1. It's confusing when you're debugging or referencing it to understand where all the extra types are coming from
1. It's unusual. Not typical .NET dependencies.
1. Copyright/redist concerns, potentially. For example, srcsrv.exe is licensed to redist, but you redist it without any notices attached for the user to review. I'm not sure this is kosher. It might be, bu

[2016-10-08 13:57] AArnott commented on #104
Should we move the discussion to gitter?

[2016-10-08 13:58] AArnott commented on #104
The tests fail because `ProjectHelper.SolutionParserType` is null, but the static ctor at least _seems_ to guarantee that shouldn't be the case. Drilling in...

[2016-10-08 14:00] AArnott commented on #104
Ah, `TypeCache.GetType` returns null. I wonder if it's a thread-safety issue. I'm not familiar with this class.

[2016-10-08 14:01] GeertvanHorrik commented on #103
Please try Build - 2.4.0-unstable.48

[2016-10-08 14:02] AArnott commented on #104
Oh, regarding your convenient invocation of gitlink from build servers comment, my approach to this is the msbuild target in nuget package. Projects just install that, then you get the behavior on all build servers and local builds automatically.

[2016-10-08 14:03] GeertvanHorrik commented on #104
Please move to gitter, then we can put final thoughts here

[2016-10-08 14:15] caioproiete commented on #103
@GeertvanHorrik: Stupid question: Where can I download unstable builds from?

[2016-10-08 14:20] GeertvanHorrik commented on #103
See https://www.nuget.org/packages/gitlink/2.4.0-unstable0052

[2016-10-10 20:09] gitfool commented on #103
👍 Prerelease 2.4.0-unstable0052 worked for me.

[2016-10-10 20:10] GeertvanHorrik commented on #103
Thanks for the feedback!

[2016-10-10 20:10] #103 closed

[2016-11-18 21:45] AArnott opened #115 "Embed source files that do not belong to the git repo"
When the build itself generates code, that code won't be in the git repo but may still be valuable to step through. This code can be _embedded_ in the PDB such that (a future version of) the VS debugger can display it.

@tmat: any pointers to docs on how we can add sources files to the PDB?

Project owners: I'm willing to fix this.

[2016-11-18 21:52] tmat commented on #115
csc task/command line:
[code]

[2016-11-19 03:02] AArnott commented on #115
@nguerrera

[2016-11-21 05:19] AArnott commented on #115
@tmat that switch approach works if your code generators participate and prepare the msbuild items before the compiler is invoked. Does the Csc task accept a parameter for this, and do the msbuild C# targets pass that parameter in from an item list already?

For the person building the PDB, I guess post-compilation adding source files to it is possible, but perhaps we can settle on unadvisable if

[2016-11-21 05:22] AArnott commented on #115
Also, what is this `/sourcelink:` switch I see? I can't find docs on it. Does it obsolete post-compilation PDB tools such as this one?

[2016-11-21 05:38] nguerrera commented on #115
@(EmbeddedFiles) get passed to /embed

[2016-11-21 06:09] tmat commented on #115
@AArnott Yes, it does. https://github.com/dotnet/roslyn/issues/12759

[2016-11-21 13:26] GeertvanHorrik opened #117 "Rename variable in BitBucket provider"
See https://github.com/GitTools/GitLink/blob/develop/src/GitLink/Providers/BitBucketProvider.cs#L16

[2016-11-21 14:04] vip32 opened #118 "pdb not updated"
as part of my CI build i run the gitlink. However i see the srcsrv gets created with the proper bitbucket things in it. however the pdb itself does not seem updated (however date was modified). how do i verify that the pdb has the right information?

with cvdump is still see all the local filenames in the pdb and no git info. what should i see in the pdb that gets updated. i suppose i don't have t

[2016-11-21 14:07] GeertvanHorrik commented on #118
The pdb files remap the files from lopcal => remote. This is mostly visible when you open the pdb file inside a text editor (e.g. Notepad++) and scroll all the way down:

[code]

As you can see, it shows that local paths should be mapped to the url part after the *. So this line:

[code]

Will map `C:\CI_WS\Ws\78322\Source\GitTools_Core\src\SolutionAssemblyInfo.cs` to `https://raw.github.com/GitTo

[2016-11-21 17:31] nguerrera commented on #115
Just pointing out again (see also https://github.com/dotnet/roslyn/pull/15256#discussion_r88746143) that `/embed` is currently only supported if the pdb being produced is portable.

The design for embedded source accounted for Windows PDBs as well, but due to some funding changes, the testing was not completed for VS 2017 RC. Getting it to work with Windows PDBs is tracked by https://github.com/do

[2016-11-21 20:27] vip32 commented on #118
hoi geert,
i see this mapping information with the RAWURL in the srcsrv file, but it does not appear in the updated pdb. should that be the case?

[2016-11-21 20:30] GeertvanHorrik commented on #118
It should be in the updated pdb as well. Is there a public repro somewhere? Make sure that you are looking to the right pdb files.

[2016-11-21 20:35] vip32 commented on #118
no it's not public ;(
i see this behavior running local and in jenkins. however we use the cake aliases for gitlink, which justs calls the tool. not suspecting any issues with that. let me try the tool directly.

am using the latest stable, should a -pre work better in this case?

[2016-11-21 20:59] vip32 commented on #118
it should update the pdb next to where the srcsrv is created, right?

[2016-11-22 05:05] AArnott commented on #115
Can you educate me on the downside to that? What prevents everyone from compiling portable pdb's? Is it that only certain debuggers support them? Which ones?

[2016-11-22 09:01] GeertvanHorrik commented on #118
Yes, correct, it should update that specific pdb. What is the output of GitLink?

[2016-11-23 15:37] GeertvanHorrik commented on #115
A bit late to join the party, but this is for after the changes by @AArnott , right?

[2016-11-23 19:39] AArnott commented on #115
That's how I'm seeing it, yes.
And in fact, the way the discussion is going, it may not really be a gitlink 'feature'.  Rather, simply emitting warnings for files that aren't in the git repo with a recommendation that they arrange to add their generated files to the `@(EmbeddedFiles)` item list.

[2016-11-27 11:13] distantcam opened #124 "Appveyor builds of a GitHub PR fails to detect target url"
I'm having a problem where GitLink won't correctly identify the target url when building from a PR from GitHub.

I tried reproducing this bug locally, but was unable to. The only way I can reproduce it so far is by having Appveyor build the branch.

I have set up a test repo for all of this.

- https://github.com/distantcam/AppVeyorTest
- https://github.com/distantcam/AppVeyorTest/pull/1
- https:/

[2016-11-27 12:33] GeertvanHorrik commented on #124
Thanks for reporting. Does AppVeyor create a local .git directory or does it only push the actual source files to the build agent?

[2016-11-27 12:41] distantcam commented on #124
I'm pretty sure the local .git directory is there. GitVersion works fine with AppVeyor.

[2016-11-27 12:42] GeertvanHorrik commented on #124
Weird, it uses the same core library. Going to push some PR's to check a few things. Please keep the repository alive for a while.

[2016-11-27 12:43] gep13 commented on #124
@GeertvanHorrik @distantcam to test out what is going on, you should be able to use this:

https://www.appveyor.com/docs/how-to/rdp-to-build-worker/

To RDP onto the AppVeyor build worker, and look around at the files that it has, doesn't have.

[2016-11-27 12:44] GeertvanHorrik commented on #124
Great additional info @gep13 , thanks.

[2016-11-27 13:09] GeertvanHorrik commented on #124
We have some more info after adding more logging.

[code]

[2016-11-27 13:13] GeertvanHorrik commented on #124
Going to add some more logging, we probably need to retrieve additional info to determine the branch.

[2016-11-27 13:17] GeertvanHorrik commented on #124
"Current branch is '(no branch)', remote: '', isDetachedHead: 'True'"

[2016-11-27 13:19] GeertvanHorrik commented on #124
I'm not at home right now, will look into this tomorrow, should be fairly easy to fix, then will release 2.4.0 stable at the end of the day.

[2016-11-29 14:17] GeertvanHorrik commented on #124
I can reproduce locally after using these commands:

[code]

Looking for a fix now.

[2016-11-29 15:13] GeertvanHorrik commented on #124
After some debugging, I can get to this url with some private reflection:

https://github.com/distantcam/AppVeyorTest/refs/pull/2/merge

It doesn't give me access to the actual raw files yet though. If anyone has ideas, I am happy to hear about them.

[2016-11-29 15:20] GeertvanHorrik commented on #124
We might just ignore PR's when using GitLink?

[2016-12-01 21:17] AArnott commented on #124
Is the problem the fact that it's a detached head? If so, the enhancement I've been working on in my fork will resolve that as it never cares about the branch name.
If the problem is that the commit ID is a (provisional) merge commit that may not exist for long, that's a more interesting problem. But then, a provisional merge commit in a PR build doesn't need a PDB that lasts too long either. So I

[2016-12-01 21:21] GeertvanHorrik commented on #124
Yes, I think v3+ will work fine (as long as you pass in the url, which would otherwise automatically be determined by GitLink itself).

However, we should think about the core issue: do we want to support PR's? The PR's are mostly temporary merge actions and the source lives inside the repository of the person making the PR. I couldn't find a way to retrieve the merged result from the original rep

[2016-12-01 21:33] AArnott commented on #124
I suspect different git hosts will make this more or less difficult. VSTS for example makes accessing the source code behind a PR merge commit as easy as any other commit (provided you have the commit ID). If GitHub makes that harder, that _might_ not be enough to avoid the feature altogether. But then, VSTS requires authentication to download and that breaks source servers (I think) so perhaps we

[2016-12-01 21:35] GeertvanHorrik commented on #124
Ok, let's keep this open and try to fix this in v3+.

[2016-12-04 19:48] onovotny opened #129 "GitLink fails to find projects with cross-compiled csproj"
### Steps to reproduce

Run GitLink on a project that uses the new csproj cross-compiling with VS 2017.

Platform:
.NET version: 4.6.2, VS 2017 RC tooling

### Expected behavior

GitLink should find outputs and index

### Actual behaviour

0 projects found

[2016-12-04 19:49] onovotny commented on #129
https://ci.appveyor.com/project/onovotny/bc-csharp/build/1.8.2-beta.68.build.6

Here's the build log
[code]

[2016-12-05 07:01] wocar commented on #83
Any updates on this :D

[2016-12-05 07:24] GeertvanHorrik commented on #83
We are working on a version of GitLink that is solution / project unaware and only needs pdb files to work with. This would make this need redundant. It's WIP though.

[2016-12-05 07:29] GeertvanHorrik commented on #129
Thanks for reporting this issue. We are working on a version of GitLink (v3+) that will be able to run without solution / project files (so directly with pdb files). We will try to fix this for v2.* as well though.

Since the repository is open-source, I will see if I can easily fix this.

[2016-12-08 08:40] maraf opened #131 "Source codes from UNC"
Is there any support for UNC paths? I would like to host my sources on a network shared folder. but passing directly UNC path to the `-u` parameter results in a message saying that provider is not recognized.

[2016-12-08 09:31] GeertvanHorrik commented on #131
I think this should be possible because basically srcsrv files just remap source files to a new location. But we don't support it out of the box yet. Interested in doing a PR?

[2016-12-08 09:57] maraf commented on #131
Yes, I am!

[2016-12-13 05:48] wocar commented on #83
Any updates on this hehe?? Should we put a bounty on the PR $ 😝😁 I'm down for it

[2016-12-13 14:44] ejsmith commented on #83
Why would anyone work on this now? Project.json is about to be gone. Plus they said they are working on changes that will make it just work off the pdbs and not need the project

[2016-12-13 14:45] ghuntley commented on #83
My vote is wait until 2017 is out/stable.

[2016-12-13 14:54] niemyjski commented on #83
@ghuntley It should be good to work with the latest rc drop :)

[2016-12-21 14:13] v-jacai opened #134 "Need to rename the pdf.srcsrv file?"
Here is the my steps:
1. Build my solution, it will generate the .dll and .pdb file.
2. Run the GitLink command, it will generate one .pdb.srcsrv file.

Before I create the Nuget package, do I need to delete the original .pdb file and rename the .pdb.srcsrv to .pdb file?

[2016-12-21 14:15] GeertvanHorrik commented on #134
GitLink will update the pdb. You don't need to delete the original pdb. You only need to embed the updated pdb files with your assemblies.

[2016-12-21 14:26] v-jacai commented on #134
Thanks for your response, How can I embed the original .pdb files with assemblies?

Also, can you explain some why did you generated the .pdb.csv file? what's purpose?

[2016-12-21 14:27] GeertvanHorrik commented on #134
The src file is an intermediate file. You can embed the pdb by just copying it next to the assembly when generating your nuget packages.

[2016-12-21 14:30] v-jacai commented on #134
Thanks! If I have to debug it in Visual Studio in administrator permission?

[2016-12-21 14:33] GeertvanHorrik commented on #134
Depends on your vs version. I think VS 2013 and later don't require this.

[2016-12-21 14:34] v-jacai commented on #134
thanks! awesome!

[2016-12-21 14:34] #134 closed

[2016-12-22 19:03] #131 closed

[2017-01-03 06:11] v-jacai opened #135 "Configure Custom URL"
I am using one Custom URL for it. I try to use below pattern, but how I can I pass the filename and revision parameter?
GitLink.exe C:\Spirit.Extensions -u http://url:8080/tfs/Jupiter/1c144528-6776-430b-a424-59e93c6aa3b3/_api/_versioncontrol/itemContent?repositoryId=0bc9fd51-425e-4d98-bc7f-fbe32b35a3b1&contentOnly=true&__v=5&path={filename}&version=GB{revision}

Here is the url I found to get cs f

[2017-01-03 07:06] #135 closed

[2017-01-03 07:18] v-jacai commented on #135
I have made some progress, I change it to use the commit id directly.

GitLink.exe C:\Spirit.Extensions -u http://url:8080/tfs/Jupiter/1c144528-6776-430b-a424-59e93c6aa3b3/_api/_versioncontrol/itemContent?repositoryId=0bc9fd51-425e-4d98-bc7f-fbe32b35a3b1&version=GC28a7763fcee13c0b3c5f5b16453e83261b286ab1&contentOnly=true&__v=5&path={filename}

[2017-01-05 10:32] pkiers commented on #117
Fixed

[2017-01-05 10:32] #117 closed

[2017-01-14 00:19] AArnott opened #136 "github remote URLs ending with '.git' break source server"
When the git remote is a URL like `https://github.com/aarnott/someproj.git` (notice the optional `.git` suffix), all git operations are fine, but the generated PDB embeds a URL that includes this suffix, which breaks source server support because github doesn't allow the optional suffix in raw content URLs.

This happens when VSTS builds from github repos.

[2017-01-14 00:19] AArnott commented on #136
I'm willing and motivated to fix this issue.

[2017-01-15 20:38] #136 closed

[2017-01-18 13:06] #104 closed

[2017-01-18 13:24] GeertvanHorrik opened #138 "Generated NuGet with NuProj generates too much content"
This is what currently is included inside a generated NuPkg:

![image](https://cloud.githubusercontent.com/assets/1246444/22065725/ca3c5950-dd89-11e6-9f1c-9781544f56a7.png)

Do we want a separate NuGet package for the Task project?

/cc @AArnott

[2017-01-18 13:25] GeertvanHorrik commented on #138
And we also should check if this is compatible with Chocolatey.

[2017-01-18 17:52] AArnott commented on #138
Yes, it works with chocolatey. Pdbgit is already there and approved.
Why do you say there are too many files in the package? They are all necessary for either msbuild or cmdline. Splitting them up makes everyone have to be more aware of the difference, so unless folks are complaining about the package size and removing a small fraction of it would fix it, I don't see any changes necessary here.

[2017-01-19 09:14] GeertvanHorrik commented on #138
My assumption was that we would be creating separate packages:

- GitLink
- GitLinkTask

So if someone wants to reference just gitlink / install it as a tool, they can use GitLink. If they want the task, they can reference GitLinkTask.

[2017-01-19 17:38] AArnott commented on #138
IMO we should wait for a few customers to demand that. They can already get it as a tool via Chocolatey. And if they really want to use nuget to get the tool, they can use their solution-level packages.config to install it and thereby bypass the msbuild files that would be inserted into their project.

I suspect most folks (at least, folks who have used PdbGit already and other packages that peopl

[2017-01-20 06:00] v-jacai opened #139 "Repostoriy URL cannot support the '?' in the URL"
GitLink cannot Source code URL cannot support the '?' in the URL. I use below URL,
http://weburl:8080/tfs/Jupiter/hashcode/_api/_versioncontrol/itemContent?repositoryId=repositoryId1&version=GCCommitid&contentOnly=true&__v=5&path=%var2%

And when Visual Studio download the source code to my local path, it will stop at itemContent directory, because itemContent is end with '?' not end with regular

[2017-01-23 04:01] v-jacai commented on #139
It's unnecessary to put it on temp folder.  we can put it on %targ%

 if (downloadWithPowershell)
                    {
                            sw.WriteLine(string.Format("TRGFILE=%targ%\\{0}\\%fnbksl%(%var2%)", revision));
                            sw.WriteLine("SRCSRVTRG=%TRGFILE%");
                            sw.WriteLine("SRCSRVCMD=powershell invoke-command -scriptblock {param($url='%RA

[2017-01-24 12:51] xMilotas commented on #118
Hey,
any update on this issue?
We still have the same problem - GitLink is not showing any error messages, but the pdb's are not updated.

[2017-01-24 12:53] GeertvanHorrik commented on #118
Nope. Do you have an output for us to analyze?

[2017-01-24 14:06] xMilotas commented on #118
Since the repository is private I had to cut out some stuff.
This is what we get, when running GitLink with Cake. - We get the same output when starting the GitLink.exe directly.
[GitLinkLog.txt](https://github.com/GitTools/GitLink/files/726872/GitLinkLog.txt)

[2017-01-24 16:32] vip32 commented on #118
Hoi Geert,

is there a way to enable more logging, set some kind of verbosity level? would be nice if git-link outputs the actual changes it made.

we really like to get this working, as we can save the hassle of setting up a symbol server.

[2017-01-26 13:14] GeertvanHorrik commented on #118
I tried setting -debug yesterday, but it causes a bug on the parameter count checks. You can try setting -debug 1 to get around this bug. Can you let me know if that works?

[2017-01-26 13:17] GeertvanHorrik commented on #118
@xMilotas Are you sure that the pdb's are not updated? Note that GitLink defaults to "Release | AnyCPU" configurations and it updates the pdb files on the original location.

[2017-01-27 07:57] xMilotas commented on #118
When I use -debug it shows me the message

  Created source server link file, updating pdb file '[path].pdb'

When I look at this file(which should be the correct one) with Notepad++, I still only see the old paths.
Is there anything else that I could look for when using -debug, that could give me any kind of information?
Thank you in advance.

[2017-01-27 08:48] GeertvanHorrik commented on #118
@xMilotas it is expected that you still see the old paths. What we need to see is if it also contains a * and a remapped path behind it. GitLink simply remaps local files to remote urls. Basically something like this should be visible:

c:\source\mybuild\src\solutioninfo.cs*src/solutioninfo.cs

[2017-02-05 11:18] phatcher opened #140 "What am I doing wrong?"
### Steps to reproduce

1. Followed the instruction on the getting started page, adding the NuGet package to each project
2. Build the project

Platform:
.NET version: 4.5

### Expected behaviour

Should have the symbols replaced

### Actual behaviour

Symbol still pointing locally

Code is available at https://github.com/phatcher/Meerkat.Security

Also some advice on how incorporate into a FAKE s

[2017-02-06 04:44] v-jacai commented on #140
Do you see the *.srcsrv file in the folder? If so, you can open the symbol file in the Notepad.

[2017-02-06 05:57] phatcher commented on #140
No, I can see that I have gitlink in the packages as a developmentDependency and a binary reference in the project., but that's it - there's no change to the project's build targets so I don't see how it's going to achieve anything.

[2017-02-06 06:18] gep13 commented on #140
@phatcher can you confirm which NuGet Package you have installed?

Sounds like you have added this one:

https://www.nuget.org/packages/gitlink/

Which contains the exe and pdb, where as I think you want this one:

https://www.nuget.org/packages/gitlinktask/

which contains the exe, dll, pdb and associated targets file.

[2017-02-06 06:40] phatcher commented on #140
I do have gitlink - that's what the front page says to install.

Just tried to use gitlinktask and it wouldn't install into my project (which is .NET 4.5) - I notice the package does not have a lib folder

install-package : Could not install package 'gitlinktask 2.4.1'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5', but the package does not contain

[2017-02-06 06:59] gep13 commented on #140
The issue that you are seeing is that the readme in the develop branch (which is the default branch) tells you about the new, soon to be released version of GitLink, and not the one that is currently pushed to nuget.org, i.e. 2.4.1.

I would point you here:

https://github.com/GitTools/GitLink/tree/master

For information about the GitLink and GitLinkTask packages which are currently pushed to NuG

[2017-02-06 07:51] phatcher commented on #140
Ah thanks, hadn't noticed that I was on the develop branch, so at the moment it has to process the source and the new one will process the pdb directly?

[2017-02-06 08:06] gep13 commented on #140
I would need @GeertvanHorrik or @AArnott to confirm that one.  Personally, I run GitLink through a Cake task:

https://github.com/cake-contrib/Cake.Recipe/blob/develop/Cake.Recipe/Content/gitlink.cake#L9

So I haven't used the approach that you are describing, I just know about it's existence 😄

[2017-02-06 21:23] AArnott commented on #140
@phatcher: yes, the gitlink in the develop branch can just be given the pdb file and it will do all the work without a bunch of the other integration with MSBuild.
If you want to try out what's in GitLink's develop branch, since we don't yet have a nuget package of it released, you could temporarily install the PdbGit nuget package instead of GitLink (which is basically GitLink's develop branch at

[2017-02-07 10:27] phatcher commented on #140
@AArnott I'll have a go at that and get back to you - will make it easier to integrate into my Fake build script as it would just be another task after the tests but before the nuget pack

[2017-02-08 00:42] AArnott commented on #140
Why add a task at all? So long as you're using MSBuild to compile your projects, PdbGit does it as part of that.

[2017-02-10 14:01] v-jacai commented on #139
do you have any ided here?

[2017-02-14 04:53] #139 closed

[2017-02-14 05:13] v-jacai opened #142 "CustomUrlProvider"
I am trying CustomUrlProvider, here is my RAWURL:
RAWURL=**http://tfshost:8080/tfs/Jupiter/1c144528-6776-430b-a424-59e93c6aa3b3/_api/_versioncontrol/itemContent?**repositoryId=0bc9fd51-425e-4d98-bc7f-fbe32b35a3b1&version=GC45f57126c406870d4eae7331e7b50d9bda3898a2&contentOnly=true&__v=5&path=%var2%

When I debugging into pdb file, it **cannot** download the file to my local machine. It will create

[2017-02-14 12:07] GeertvanHorrik opened #143 "Fix deployment to chocolatey & nuget"
I've created the environments in AppVeyor, but it looks like the versioning for nuspec is still 1.0.0 (and not respecting the build version).

/cc @AArnott & @gep13 : what should we do to make the nuspec get the right version number as well?

[2017-02-14 15:57] GeertvanHorrik commented on #142
The double ** could confuse because it's used as a separator in the SRCSRV file. Is it something you did yourself or...?

[2017-02-14 17:28] AArnott commented on #143
I agree that issue needs to be fixed, of course. While we were on NB.GV it was working, but I'm not familiar enough with GitVersion to know how to use that to fix this problem.

[2017-02-16 12:49] GeertvanHorrik commented on #143
@AArnott I see some keys like $GitCommitIdShort$ in GitLink.NuGet.nuproj. Those seem to be variables, but not sure where they are coming from. I checked out the docs for nuproj, but couldn't find anything about variable replacement. Is this a NB.GV feature or a nuproj feature?

[2017-02-16 14:46] phatcher commented on #140
I need it as a separate task as it operates on the pdbs in the build directory, so I do the task after the tests are run successfully but before the pack.

You end up with something like...

[code]
I notice that it only takes a single file i.e. it won't accept a filespec *.pdb which might be a useful change, though I suppose you'd have to be careful specifying it so you don't process for third-par

[2017-02-16 17:19] AArnott commented on #143
The $Macro$ syntax is a nuspec feature. And [NB.GV specially checks for NuProj projects](https://github.com/AArnott/Nerdbank.GitVersioning/blob/master/src/Nerdbank.GitVersioning.NuGet/build/NerdBank.GitVersioning.targets#L165) and adds a couple macro definitions to it so that they automatically expand.
So in a GitVersion world, you'd need to write the code that obtains the git version information

[2017-02-16 17:21] AArnott commented on #140
@phatcher what you're doing and asking for makes sense. But I still don't understand why you can't do it as part of your msbuild. You say you rewrite the PDB after tests pass, but why not do it when the PDB is first created? In the future, Roslyn compilers will support passing data to the compiler so that the PDB has source server support without rewriting, which would mean this is all front-loade

[2017-02-16 17:49] phatcher commented on #140
@AArnott Sorry I think I was misunderstanding - couldn't see how I can pass this as an argument to MSBuild.

Do I basically install this as a solution-level package and it adds targets to the solution to do the source indexing?

[2017-02-16 18:26] AArnott commented on #140
Almost. Install the package to each of your individual projects.

[2017-02-16 18:48] phatcher commented on #140
Thanks

[2017-02-16 22:05] kzu opened #144 "Alpha 3.0.0 is built with package version 1.0.0"
https://ci.appveyor.com/project/GitTools/gitlink/build/3.0.0-alpha.82.build.64

Would love to try the new 3.0.0 ASAP, so if that could be somehow released as an alpha... :)

Thanks!

[2017-02-17 11:09] v-jacai commented on #142
Thanks to reply me!
I was mean to highlight http://tfshost:8080/tfs/Jupiter/1c144528-6776-430b-a424-59e93c6aa3b3/_api/_versioncontrol/itemContent? part. You can ignore the double **

[2017-02-17 19:53] mesheets commented on #142
Based on research I have done, this is actually an internal issue somewhere within the Microsoft portion of the PDB-supporting tooling.  For whatever reason, URLs needing to make use of a query string (i.e. the question mark and anything following that within a URL) do not work with Microsoft's tooling.  I tried to submit an MSDN support ticket on this, but the response I received back from Micros

[2017-02-19 10:09] GeertvanHorrik commented on #143
3.0.0-alpha.85.build.67 has just been released to chocolatey & nuget.

[2017-02-19 10:09] #143 closed

[2017-02-19 17:42] AArnott commented on #143
Good news!

I see GitLink 3.0.0-unstable0085, which I take to be the version you published. Not sure how the two version spec's align.

[2017-02-19 20:40] GeertvanHorrik commented on #144
Today we released the first alpha of 3.0.0 to both chocolatey and nuget.

[2017-02-19 20:40] #144 closed

[2017-02-23 16:38] jaredpar opened #145 "Handle custom MSBuild location"
The dotnet/roslyn repo, and other dotnet repos in general, can have MSBuild installed into a custom location.  This happens as a part of bootstrapping / xcopy scenarios or simply as a part of taking a bug fix in a SxS installation of MSBuild in Dev15.

It doesn't seem that GitLink has a way of being asked to use these copies of MSBuild.  Instead it seems to rely on the machine copy of MSBuild 4.0.

[2017-02-23 20:41] GeertvanHorrik commented on #145
Pinging @AArnott since he knows more about this than I do.

[2017-02-23 21:36] AArnott commented on #145
@jaredpar Which version of GitLink are you using? If the v2.x variety, where the command line tool may actually invoke MSBuild, that's obsolete anyway. If you use the v3.x beta that is now on chocolatey and nuget, the only MSBuild use in GitLink is when MSBuild invokes GitLink rather than the other way around, so I think we've already addressed this.

[2017-02-23 21:47] GeertvanHorrik commented on #145
GitLink has never invoked msbuild, but it did use the vs project system to load the projects (to retrieve the output directories + pdb files). Probably that's what you are seeing and I think the solution @AArnott is suggesting (use the upcoming 3.0.0 which is equal to PdbLink) is the best.

[2017-02-23 22:49] jaredpar commented on #145
Agree.  That seems to be what is causing the problem here.

Is there a nice HOWTO consume this new version document we can take a look at?

[2017-02-24 00:06] AArnott commented on #145
Not strictly true. The VS project system is not involved here as this is just an msbuild operation. When I say "invoked MSBuild" I didn't mean executed msbuild.exe, but it does call into MSBuild assemblies, which it must find in the GAC or other places.

Yes: I think [this page](https://www.nuget.org/packages/GitLink/3.0.0-unstable0085) has all the instructions you need. 😋  Just install the packag

[2017-02-26 18:54] jaredpar commented on #145
Likely prefer that route.  We only ship a small subset of our entire solution and only add source server info on very specific builds.

Thanks!

[2017-02-26 18:54] #145 closed

[2017-03-03 17:23] Korporal opened #147 "FAQ - Why is server authentication relevant if we have the repo locally?"
I notice you point out that private Github repos are a concern because authentication is often required. But if the repo is local (as it almost always is for developers) then the source code is also present locally for any given commit ID.

Therefore why is it not possible to bypass Github entirely and use the local (cloned) repo?

Thanks

PS: I understand now what you're referring to (shared exte

[2017-03-03 17:49] Korporal opened #148 "FAQ - Improve the documentation"
I'm encountering GitLink for the first time and have read the associated readme file but still have questions.

It seems there are two distinct audiences for GitLink documentation:

* Consumers of code hosted under Git.
* Creators of consumable code hosted under Git.

So if I want to be able to debug with source support, code hosted on GitHub, that's a specific use case, whereas if I want to creat

[2017-03-03 18:54] Korporal opened #149 "Incorrect link to GitLink?"
I was reading the readme which has a link to the NuGet package to install into Visual Studio. However it seems to be wrong (if you read issue #140).

Why do you have users install GitLInk nuget package rather than the GitLinkTask package which (it seems) is the one they should be installing?

Thanks

[2017-03-03 18:57] GeertvanHorrik commented on #149
Hi @Korporal ,

The frontpage shows the current *develop* branch which we are actively working on (but represents the prerelease of GL 3.0). If you check the *master* branch, you should see the correct docs.

Sorry for the temporary inconvenience.

[2017-03-03 19:00] GeertvanHorrik commented on #148
1. Only as publisher, the consumer only has to enable source server in VS
2. You need to distribute your assemblies (dll or exe) together with an *updated* (GitLinked) pdb file. We think NuGet is the easiest, but you could even manually deploy everything on a network share.
3. I'm not sure how this process could be any easier. If you have a build server with continuous integration, it should publi

[2017-03-03 19:04] GeertvanHorrik commented on #147
I'll first explain how GitLink works.

1. It opens your pdb file and checks all the local files (in this case the build agent or your local machine)
2. Then it checks the .git directory and checks the remotes for these files. This allows the tooling to map local files => remotely hosted files
3. It updates the pdb

When debugging in Visual Studio (and the pdb is available), Visual Studio will rema

[2017-03-03 19:06] Korporal commented on #148
Thanks

re: 3. By easier I mean can we avoid/disregard the fact that our repo(s) are private if we're primarily interested in debugging only our own Github hosted code? That is if a shop are using their own private nuget server to host their own nuget packages who's source is in their own private repo - can GitLink be setup/configured to avoid these authenticatin things you mention with private re

[2017-03-03 19:08] GeertvanHorrik commented on #148
No, because in the end it's VS that is doing the remapping to the remotes (private repo in this case). I believe we have support for authentication via powershell, but not 100 % sure since it was created as a PR.

[2017-03-03 19:08] Korporal commented on #149
Thanks @GeertvanHorrik but on that other readme I see now mention at all of adding a NuGet package to a project. I just tried to add GitLinkTask but it fails if proj is .Net 4.5.2 or 4.5 - no idea what min target framework must be.

Also what is the GitLink nuget package for if GitLinkTask is the one you really want us to install?

[2017-03-03 19:09] GeertvanHorrik commented on #149
It's the exe itself (installed as a tool). In v3, you will only have to install GitLink itself since it contains both the msbuild integration as the tool. @AArnott did all the hard work there, so he can best explain that process if you need more info.

[2017-03-03 19:16] Korporal commented on #147
Thanks @GeertvanHorrik for explaining this.

A question then, would it be feasible to add some feature that allows us to refer to our local (cloned) repo rather than our Github server? This is what I meant by an alternative/simpler process - one in which we know ahead of time that the source code will always be inside our own repos. Because we know its always inside our own repos the mechanism cou

[2017-03-03 19:18] Korporal commented on #149
@GeertvanHorrik
I've tried to install the GitLinkTask package three times now (in order to experiment) but it fails to install for .Net 4.52, .Net 4.5 and .Net 4.0 - what is the min framework that's compatible with GitLinkTask 2.4.1?

Thx

[2017-03-03 19:49] GeertvanHorrik commented on #147
That would be hard because it needs to map from _x_ => _y_.

x => the *original build source file location*
y => the source file on the end-user running the dependency

The issue is that you don't know _y_, so this must either be exactly the same for everyone, or you must research whether you can remap this dynamically. And even then, you need to point to a specific point in time (_x_ might be bui

[2017-03-03 19:51] GeertvanHorrik commented on #149
Please install the latest pre-release, that's what we are going to recommend on the short term anyway. It should automatically integrate with msbuild, right @AArnott ?

[2017-03-04 16:29] AArnott commented on #149
@GeertvanHorrik is correct.
@korporal there's no such thing as targeting .NET 3.0 I'm pretty sure. So your configuration sounds a bit wonky. That might explain why the older gitlinktask package won't install.

[2017-03-04 19:27] ctaggart commented on #147
@Korporal, do you have a private network? You could easily create a proxy for https://raw.githubusercontent.com/. That is what I did here: https://github.com/ctaggart/SourceLink-proxy.

If you plan to adopt the new dotnet tooling, you can also just embed the source files in the Portable PDB files. If you don't like the idea of shipping source code around, then update 1 for Visual Studio 2017 will

[2017-03-06 16:07] hgleaves-ncuadmin commented on #149
@GeertvanHorrik @AArnott
Can you just confirm what .Net Framework versions are supported by the GitLinkTask package v 2.4.1? (the most recent version I can see on the Nuget site) or your pre-release, then I can proceed to use that.

Thanks

PS: I'm genuinely trying to evaluate this system, it sounds very good but the questions I'm asking are real, they stem from me trying to understand what's writ

[2017-03-06 16:12] GeertvanHorrik commented on #149
@hgleaves-ncuadmin  Different question: what system are your targeting, that's easier for us to answer. I believe both use .NET FX 4.0 as base, so should work on everything above that. If it's an msbuild task, the target platform should be irrelevant (since it's msbuild invoking the assembly). @AArnott can you confirm I'm not making a mistake here?

[2017-03-06 17:18] AArnott commented on #149
Wow. I just downloaded the GitLinkTask 2.4.1 package (I've never looked at it before). It only has a `build\dotnet` folder. I'd be surprised if this worked for *any* target framework. It seems it would only work for old DNX projects.

[2017-03-11 00:30] DanielBryars commented on #83
Do you have the version where you can specify the pdb file directly in a branch? I'd like to play with it?

[2017-03-11 12:28] GeertvanHorrik commented on #83
@DanielBryars Yep, the current develop branch is that one. It's already available as pre-release on NuGet & Chocolatey as well.

[2017-03-13 06:18] v-jacai opened #150 "Visual Studio (401) Unauthorized when download"
I used the cusotmer URL in GitLink and I am able to link the srcsrv information to pdb file.
However when I debug into the file in Visual Studio 2013, it say below error in output window.
SRCSRV:  powershell -NoProfile -Command "(New-Object System.Net.WebClient).DownloadFile('cutomerURL', 'MyLocalPath')"
         Exception calling "DownloadFile" with "2" argument(s): "The remote server
         re

[2017-03-16 14:46] GeertvanHorrik commented on #149
@hgleaves-ncuadmin let's ignore the current (soon to be old) version of GitLink. Could you please try the unstable GitLink msbuild integration to see if that works out for you?

[2017-03-16 14:53] GeertvanHorrik commented on #150
Unfortunately authentication is not yet supported.

[2017-03-16 17:08] onovotny commented on #129
I'm afraid that I've switched things over to use SourceLink as it works with portable pdb's and embedded portable pdb's - the latter of which is what we're using to avoid the need of symbol files everywhere.

[2017-03-20 11:14] GeertvanHorrik commented on #129
No problem, thanks for the update!

[2017-03-20 11:14] #129 closed

[2017-03-23 05:34] v-jacai commented on #150
I add it on SrcSrv file:
 if(downloadWithPowershell)
                    {
                        sw.WriteLine("TRGFILE=%fnbksl%(%targ%%var2%)");
                        sw.WriteLine("SRCSRVTRG=%TRGFILE%");
                        sw.WriteLine("SRCSRVCMD=powershell invoke-command -scriptblock {$webClient = New-Object System.Net.WebClient; $webClient.UseDefaultCredentials = $true; $webClient.Downl

[2017-03-24 12:12] #150 closed

[2017-03-24 13:13] v-jacai commented on #150
Thanks, what's the next release date? Can I see my changes in the release? I need the latest version in my project.

[2017-03-24 14:47] GeertvanHorrik commented on #150
We don't have a fixed date yet, but we do release alphas so if you want I can release one right now.

[2017-03-26 11:27] v-jacai commented on #150
I am appreciate it if I can get the latest version right now.

[2017-03-27 10:13] GeertvanHorrik commented on #150
3.0.0-alpha.90.build.71 should be available on both nuget & chocolatey now.

[2017-03-27 12:03] v-jacai commented on #150
Awesome! Looking forward to have one stable version soon.

[2017-03-28 11:01] Roblinde commented on #145
I'm running into this as well when trying to add GitLink 3.0 to NetStandard 1.4 project.

Getting:

[code]

A quick scan of my system shows that I do have the Microsoft.Build.Utilities.v4.0 installed, just probably not where LinkPdbToGitRemote is looking.

Any suggestions on how to solve this?

Thanks!

[2017-03-28 15:37] AArnott commented on #145
@roblinde are you seeing this when building within VS? at the command line with msbuild.exe, or dotnet build, or a combination?

[2017-04-01 17:31] pharring commented on #145
Just FYI, Application Insights also uses GitLink 2.2 and we ran into this same problem (MSBuild 4.0 doesn't resolve our .props). Had to workaround it in https://github.com/Microsoft/ApplicationInsights-dotnet/pull/496
We will probably move to 3.0 when it's stable.

[2017-04-01 18:09] Roblinde commented on #145
@AArnott seeing it both with `dotnet build` and from within VS. Haven't tried MsBuild.exe directly.

@pharring thanks, I'm actually running the 3.0 build which is why I was a bit surprised to see the issue.

[2017-04-14 21:05] matkoch opened #152 "VS15 support"
When calling `gitlink.exe <pdbFile>` it throws an exception:

[code]

I compiled it with VS2017 with target framework net46. I made sure that pdb and assembly matches by removing *obj*  and *bin* directory first.

*Update:*

Probably related issue is Microsoft/microsoft-pdb#23.

[2017-04-15 02:09] matkoch commented on #152
Looks like the fault was on my side. At least if you're aware that BSJB and MPDB are not supported. I was  actually missing:

[code]
Maybe it would be helpful to state the possibility of those missing tags in the exception message.

[2017-04-15 02:09] #152 closed

[2017-04-26 22:49] mattdkerr commented on #53
Was this ever merged? Git for Windows now uses Microsoft's contribution of Credential Manager, for the purposes of authentication for VSTS and others: https://github.com/Microsoft/Git-Credential-Manager-for-Windows

[2017-04-29 12:44] madenwala opened #153 "UWP support?"
Any plans to support Windows 10 UWP?  Currently only works with .NET 4.5..?

[2017-05-02 10:33] GeertvanHorrik commented on #153
We are considering our options. We hope to provide more info soon.

[2017-05-02 15:46] GeertvanHorrik commented on #53
Sorry for the late reply. It was never merged.

[2017-05-11 18:34] bacar commented on #142
I'm somewhat confused -- the custom URL example in the readme contains an URL with query params. Does the example it work, or not?

[2017-05-11 22:54] mesheets commented on #142
At least when debugging in Visual Studio, I was never able to get it working with query parameters.  I even went to the extent of setting up a test with two environments that were essentially identical except for how the URL was formed.  The URL with query string parameters always failed; the URL in the PATH_INFO format succeeded.

I even tried engaging Microsoft, as the problem appears to be in h

[2017-05-12 08:11] GeertvanHorrik commented on #142
Hopefully the new pdb format will have improved support for this (portable pdbs).

[2017-05-16 21:17] bacar commented on #142
OK, so am I right in understanding that the example custom URL given in the readme:

    GitLink.exe <pdbfile> -u "https://host/projects/catel/repos/catel/browse/{filename}?at={revision}&raw"

...has never worked and will not work? If so, could I suggest scrapping that example for a better one?

[2017-05-17 12:13] hikalkan opened #154 "Visual Studio 2017 & new .csproj support"
Does Gitlink support Visual Studio 2017 & new .csproj format?
My project also targets to multiple frameworks (https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Abp.csproj#L6)

First, I tried to add Gitlink 2.4.1 to my project. I got a warning indicates that this does not support .netstandard. Anyway, it didn't work. I tried latest unstable package which didn't work also.

I t

[2017-05-17 16:02] ctaggart commented on #154
That is probably a portable pdb file. GitLink & SourceLink v1 support Windows PDB files. Can you try SourceLink v2? You can read more about it here. https://github.com/ctaggart/SourceLink/. We are [working together](https://github.com/ctaggart/SourceLink/issues/178) on it.

[2017-05-17 16:12] ctaggart commented on #142
@bacar, source server support has a lot of limitations. [Special characters are not supported](https://github.com/ctaggart/SourceLink/issues/94) in URLs for source server support. They are supported for the new source link support. If you can use Visual Studio 2017, perhaps you can have a look at https://github.com/ctaggart/SourceLink. GitLink authors have contributed to the new version 2 of it. B

[2017-05-17 19:07] hikalkan commented on #154
It seems SourceLink properly working. Thanks a lot.

[2017-05-17 19:07] #154 closed

[2017-05-24 15:57] jaredpar opened #155 "Generated file incorrectly causing GitLink to fail"
Consider the following code in [https://github.com/GitTools/GitLink/blob/develop/src/GitLink/Linker.cs#L59](Linker.cs).

[code]

This is choosing an arbitrary single file from the PDB.  If that file can't be located in Git then it causes the entire linking process to fail on the apparent assumption that no files are tracked in Git.  There are a couple of problems with this:

1. The error message d

[2017-05-24 15:59] jaredpar opened #156 "GitLink exits with 0 on failure"
In the case GitLink.exe fails due to an error it will exit with the value 0.  That exit code indicates success, not failure.  This can lead to GitLink.exe failures being hidden until developers actually try source debugging.

This is part of the problem with #155.   The Roslyn repo initially verified that GitLink was working correctly on our PDBs.  At some point though our infrastructure changed a

[2017-05-24 18:55] GeertvanHorrik commented on #155
Thanks for reporting. I noticed you already created a PR for the exit code. We'll look into the other issue once 2 has been merged.

[2017-05-24 19:51] jaredpar commented on #155
Ended up finding a way around this.  If we explicitly pass `--baseDir` we can avoid this block of code and unblock ourselves.

[2017-05-24 20:42] #156 closed

[2017-06-22 05:00] cphillips83 opened #159 "A short novel on actually getting this to work cross platform/dotnet cli"
I wanted to drop this here, for one to express my pain and two hopefully it can be used to help others or update the faq.

Just a little background I have a simple dotnet project created via dotnet cli tool. I've set it up to produce multiple outputs on build as well (supporting desktop and core), it can be found at https://github.com/MindMatrix/MongoRepository2.

I came across this from somewhere

[2017-06-30 22:31] volak commented on #53
So this isn't in the latest 2.4 release?

Kinda disappointed it seemed like some work has been done to support visualstudio.com - is there anything else that needs some work?

[2017-07-01 08:36] GeertvanHorrik commented on #53
There are no open PR's, so it should be available. Could be that it's supported in the latest pre-release, not sure which version has this.

[2017-07-01 08:37] GeertvanHorrik commented on #53
I think it's all coming back to me. This should be part of the 2.4.1 release. However, it's only available on chocolatey since NuGet.org though it had a virus (don't worry, it doesn't, it's a false positive because we use Costura). I already emailed them, but the NuGet team isn't very responsive.... Please try the one on chocolatey.

[2017-07-05 08:11] ShaiNahum opened #161 "Releasing version 3.0?"
So, what are the major tasks before releasing version 3.0?

I want to utilize this awesome tool in my project - and I require features that exist only in the development branch. I rather rely on a stable branch in my code - mainly because it's much easier to convince my teammates to approve it if it doesn't contain the word 'unstable'. I'll be happy to help with any important tasks

[2017-07-05 08:40] GeertvanHorrik commented on #161
There is nothing really holding this back. It's probably ready for a stable release, but might break quite some builds if people blindly install the latest version (hence our hesitation to release this as stable).

[2017-07-05 08:40] GeertvanHorrik commented on #161
If you can test whether the latest unstable works for you, I am happy to release this later this week as stable.

[2017-07-05 08:41] ShaiNahum commented on #161
Thanks for the super fast reply!
 I'll check this 👍

[2017-07-05 11:17] ShaiNahum commented on #161
tl;dr - Not working for me, but might not be related to GitLink. If I don't respond within a reasonable time, don't wait for me.
--
The source files do not load for some reason. When I try to look into it, the xxx.srcsrv file looks good - but the pdb file looks weird. The srcsrv section inside it is sometimes duplicated and at other times cut in the middle. I'm not sure if its related to the probl

[2017-07-06 10:34] ShaiNahum commented on #161
Works! I had a config problem on my side.

The resulting PDB file was perfectly ok. I had some unrelated problem with visual studio / tf.exe.
Let me know when you release the version as stable :)

[2017-07-06 15:20] jaredpar opened #162 "Build environment doesn't respect %NUGET_PACKAGES%"
The environment variable `%NUGET_PACKAGES%` is used to override the location where NuGet packages are restored to. The GitLink repo respects this during restore. But in build files when looking for artifacts it assumes they are always restored to `%USERPROFILE%\.nuget`.

Example from [GitLink.NuGet.nuproj](https://github.com/GitTools/GitLink/blob/develop/src/GitLink.NuGet/GitLink.NuGet.nuproj#L17)

[2017-07-06 15:21] jaredpar commented on #162
Working on a fix for this.

[2017-07-06 15:22] GeertvanHorrik commented on #162
Cool, thanks. Then we'll wait with the v3 release which we wanted to release soon.

[2017-07-06 15:29] jaredpar opened #163 "GitLink can't handle files with a backtick in the name"
It's not uncommon for C# files to have backtick in the name to represent generic arity. For example ``List`1.cs``, ``KeyValuePair`2.cs``. When faced with these types of files GitLink will print out the following message:

[2017-07-06 15:29] jaredpar commented on #163
Working on this.

[2017-07-06 15:49] #162 closed

[2017-07-06 15:49] #163 closed

[2017-07-06 15:51] GeertvanHorrik commented on #161
Nice, thanks for the feedback. We'll release a new unstable now since a new PR has just been accepted. Please make sure to test it and let us know whether that one works.

[2017-07-06 16:00] jaredpar opened #165 "Controlling the task output"
Last night I was looking into the possibility of moving [dotnet/roslyn](http://github.com/dotnet/roslyn) to using the GitLink MSBuild task. Previously we were using the command line tool as a post build step. That works but had a couple of issues we were hoping the task would resolve. Most notable: performance and completeness.

Using the build task appears to fix the performance issues we were se

[2017-07-06 16:07] ShaiNahum commented on #161
Sure! Will test it first thing next week. I want to make sure that the 'UnescapeDataString' doesn't act funny on our remote build system.

[2017-07-06 17:49] jaredpar commented on #165
Here is a quick code up of the idea of adding `GitLinkWarnOnMissingFiles` element

https://github.com/jaredpar/GitLink/commit/b5af8e83dbebddc4f1703284357c0f4f30fd9623

When going through this though I wonder if  `GitLinkSkipVerify` should be used instead. The logic being that if you need `GitLinkWarnOnMissingFiles` to be off then you will always also need `GitLinkSkipVerify` to be true. Made me th

[2017-07-06 17:55] GeertvanHorrik commented on #165
We had the same issues for our WPF libraries. I think SkipVerify is much more than just skipping missing files verification, so I definitely think we should introduce a new option for this. Or... maybe we could just auto-skip .xaml files (but then, what's next?).

[2017-07-06 17:57] jaredpar commented on #165
Another idea I had was essentially adding glob support for files to ignore when linking. This would allow a very granular approach to filtering out problematic files. The default could simply be *.xaml.

[2017-07-06 17:58] GeertvanHorrik commented on #165
Yes, but that wouldn't solve your #line directive issue, would it?

[2017-07-07 05:55] jaredpar commented on #165
I think it would solve that. For that project we'd just override it to ignore both `*.xaml` plus the invalid file name we were specifying.

[2017-07-09 11:22] ShaiNahum commented on #161
It works well :)

[2017-07-29 09:51] jairbubbles opened #166 "Add support for native PDBs"
Native PDBs are currenlty failing but it's not missing much. The PDB is correctly parsed but it's failing at getting source files. Other than that the call to pdbstr.exe is working perfectly.

The problem is that PDB file format is quite complicated, I quickly looked at Microst.cci using this [PdbReader](https://github.com/Microsoft/cci/blob/master/PDBReaderAndWriter/PdbReader/SourceLocationProvid

[2017-07-29 11:35] GeertvanHorrik commented on #166
Did you try the unstable (msbuild) version or the latest stable one?

[2017-07-29 11:37] jairbubbles commented on #166
I cloned the depot (develop branch).

FYI I'm currently trying to add an option IndexAllDepotFiles as native PDB doesn't seem to include the list of all source files. I guess it's not a big deal to index too many files.

[2017-07-29 11:38] GeertvanHorrik commented on #161
Today is the day. Closing this ticket now.

[2017-07-29 11:38] #161 closed

[2017-07-29 11:40] GeertvanHorrik commented on #166
Currently releasing 3.0 stable, this is a great one for 3.1.

[2017-07-29 11:41] GeertvanHorrik commented on #148
Closing this ticket since we believe the questions have been answered. If not, feel free to re-open.

[2017-07-29 11:41] #148 closed

[2017-07-29 11:41] jairbubbles commented on #166
Cool I'll create a WIP merge request ASAP so you can look at it.

[2017-07-29 11:48] GeertvanHorrik commented on #79
Task support is now fully implemented in 3.0

[2017-07-29 11:48] #79 closed

[2017-07-29 11:49] GeertvanHorrik commented on #83
GitLink 3.0 has just been released. I think this ticket can now be closed. If not, please feel free to comment / re-open.

[2017-07-29 11:49] #83 closed

[2017-07-29 11:50] GeertvanHorrik commented on #87
It's now inside the build folder since GitLink directly integrations with msbuild.

[2017-07-29 11:50] #87 closed

[2017-07-29 11:52] GeertvanHorrik commented on #124
I'll try to look into this again for 3.1.

[2017-07-29 11:52] GeertvanHorrik commented on #147
Closing ticket. Feel free to re-open if not answered.

[2017-07-29 11:52] #147 closed

[2017-07-29 11:54] GeertvanHorrik commented on #159
Thanks for sharing your experience. We're sorry it was such a pain to get this working in the first place. We just released GL 3.0 stable (so develop, the default readme) should now reflect the right behavior.

[2017-07-29 11:55] GeertvanHorrik commented on #53
@volak / @mattdkerr please try the latest stable GitLink 3.0, it should work there as well now.

[2017-07-29 11:56] GeertvanHorrik commented on #53
Closing this, if it's not solved, we'll re-open and fix this for 3.1.

[2017-07-29 11:56] #53 closed

[2017-07-29 11:56] GeertvanHorrik commented on #138
Closing ticket, we can re-open if we want to re-evaluate.

[2017-07-29 11:56] #138 closed

[2017-07-29 12:21] dazinator commented on #87
@GeertvanHorrik  that's cool - does the build task run under dotnet core - can is there a sample with it being used with the new vs2017 csproj format somewhere? Is it as simple as just adding a `PackageRefernece` or do you need to add a cli tools package reference?

[2017-07-29 12:24] GeertvanHorrik commented on #87
From the readme:

-----

The simplest way to use GitLink is to install its NuGet package into your project.

[code]

Once installed, it automatically integrates with MSBuild to add source download instructions to your PDB.

-----

I haven't tested against dotnet core just yet, but it depends whether you are using portable pdb's or not. For portable pdb support, this will be (or already is) in Sour

[2017-07-29 12:33] dazinator commented on #87
@GeertvanHorrik Cheers. If your msbuild task is built on the full desktop version of the msbuild assemblies (i.e if these references are the desktop version of msbuild: https://github.com/GitTools/GitLink/blob/develop/src/GitLinkTask/GitLinkTask.csproj#L53) then `dotnet build` won't work as the dotnet cli tooling (an the version of msbuild used) will complain that it can load the task.

I believe

[2017-07-29 12:37] GeertvanHorrik opened #168 "Build against dotnet core msbuild assemblies"
As suggested by @dazinator in #87

If your msbuild task is built on the full desktop version of the msbuild assemblies (i.e if these references are the desktop version of msbuild: https://github.com/GitTools/GitLink/blob/develop/src/GitLinkTask/GitLinkTask.csproj#L53) then dotnet build won't work as the dotnet cli tooling (an the version of msbuild used) will complain that it can't load the task,

[2017-07-29 12:42] dazinator commented on #168
And for more info - this same issue is currently also affecting the GitVersion msbuild task, so can see their for more details: https://github.com/GitTools/GitVersion/issues/1175

[2017-07-29 13:05] #166 closed

[2017-07-29 13:46] dazinator opened #169 "2.4.1 - 3.0.0 cli changes?"
Build of gittools core just kicked off, and its pulling in version 3.0.0 of gitlink, last successful build was pulling in `2.4.1`.

The build using 3.0.0 fails with:

[code]

May I ask, is this a simple fix that needs to be made to make it work with 3.0.0 and what the new CLI looks like? Otherwise I'll just look to pin the build to 2.4.1 for now.

Thanks

[2017-07-29 13:50] GeertvanHorrik commented on #169
Instead of passing in the solution, it now requires the pdb instead. But you can also integrate directly into msbuild by installing the version from NuGet. Then it should "auto-work".

[2017-07-29 14:00] dazinator commented on #169
Sadly, we'd need #168 first, as the travis build runs on linux, and we use the dotnet cli tooling in order to build. Think for now I'll pin it back to 2.4.1.

[2017-07-29 14:02] GeertvanHorrik commented on #169
Then indeed stick to 2.4.1 for now.

[2017-07-29 14:08] AArnott commented on #168
Now that libgit2sharp has a .NET Core variety, yes it's conceivable that we could offer .NET Core build support within GitLink as well. Note that it's not a matter of simply retargeting to MSBuild's .netstandard libraries, for two reasons:
1. that would break support for any existing customers that are still on MSBuild 14
2. even msbuild 15.1 doesn't guarantee all the facade assemblies are present

[2017-07-29 14:11] GeertvanHorrik commented on #168
Good point, thanks for providing this feedback. We might look into moving towards SourceLink in the future (but it's not necessary on the short run). I suggest sticking with 2.4.1 for now, then we can slowly migrate to SourceLink in the future.

[2017-07-29 14:34] dazinator commented on #168
@AArnott

I am in the process of doing this for gitversion's msbuild task :-(
Do you happen have an example nuspec that shows how to package both assemblies (netstandard and desktop) within the same package? I am assuming you have to duplicate the targets also - or do you have one targets file and load the correct assembly based on some msbuild condition in the targets that detects what its runnin

[2017-07-29 14:41] AArnott commented on #168
Two packages is *not* required. And you can do with just one .targets file too, which has a Condition on all UsingTask elements so that it imports the MSBuild Core task assembly or the MSBuild (full) task assembly as appropriate.
I've had to do this so much (and get bruised in so many places along the way learning how to deal with it) that I wrote a NuGet package to help you write such nuget packa

[2017-07-29 15:00] dazinator commented on #168
Thank you - much appreciated, that should save me quite a bit of time there!

[2017-08-09 10:36] jairbubbles opened #172 "No source files found for some .pdb"
### Steps to reproduce

1. Unzip this file [AppLauncher.Deployer.Plugin.Implementation.pdb.zip](https://github.com/GitTools/GitLink/files/1211137/AppLauncher.Deployer.Plugin.Implementation.pdb.zip)
2. Runs GitLink.exe on this pdb

### Expected behaviour

`GetSourceFilesFromPdb` should return some files. (When opening the .pdb in a text editor we see some `/src/files` string)

### Actual behaviour

[2017-08-21 14:28] jairbubbles commented on #172
When using this library http://james-ross.co.uk/projects/libpdb the streams are properly discovered.

[code]

[2017-08-21 18:34] jairbubbles commented on #172
Well it works perfectly with GitLink too... I guess I really needed to go on vacations 😺

[2017-08-21 18:34] #172 closed

[2017-08-23 12:07] ShaiNahum opened #173 "Support for collections on VisualStudio.com"
GitLink doesn't recognize url's on Visual Studio which include a TFS project collection

### Steps to reproduce

1. Create an account on VSTS (VisualStudio.com)
2. Create a new project
3. Clone the project from its url, but add 'DefaultCollection' in the middle (e.g. https://youraccount.visualstudio.com/**DefaultCollection**/MyFirstProject/_git/MyFirstProject)

### Expected behaviour

GitLink will

[2017-09-01 23:55] jzeferino opened #176 "GitLink.GitLinkException: Pdb header didn't match"
### Steps to reproduce

1. `gitlink.exe <pdbFile>`

Platform:
.NET version 4.5.2

The pdb file was generated in Release with  `<DebugType>pdbonly</DebugType>`

### Actual behaviour

[code]
Any suggestion?

[2017-09-05 14:25] #173 closed

[2017-09-09 18:20] GeertvanHorrik commented on #176
Are you sure your builds are creating pdb files? What is the target fx? New portable pdbs are not supported by GitLink.

[2017-09-09 23:38] jzeferino commented on #176
@GeertvanHorrik I'm sure the pdb files exist.
Targeting .NET Framework 4.5.2.

[2017-09-10 08:37] GeertvanHorrik commented on #176
Is the repo open source? Then I can have a look.

[2017-09-10 17:46] jzeferino commented on #176
The project is OS, but he GitLink is being used via Cake.
Anyway, to test it without Cake, you could Build [Cake.AndroidAppManifest.csproj](https://github.com/cake-contrib/Cake.AndroidAppManifest/blob/master/src/Cake.AndroidAppManifest/Cake.AndroidAppManifest.csproj) and use the `GitLink.exe` over the generated `.pdb` files.

This is the project:
https://github.com/cake-contrib/Cake.AndroidAppMani

[2017-09-24 20:27] jzeferino commented on #176
@GeertvanHorrik any thoughts on that?

[2017-09-25 07:09] GeertvanHorrik commented on #176
To be honest, no. I haven't had the chance to look into this, but personal stuff & (paid) work always have a higher priority than OSS, so haven't had any free time so far.

[2017-09-28 23:59] jzeferino commented on #176
@GeertvanHorrik I understand. Just ping me if you have some more information.

[2017-11-07 15:44] HristoHentov opened #178 "Am I missing something?"
Hey. After reading a couple of previous issues, AND the readme file, I thought I will not have any problems with this tool, unfortunately thats not the case :(

I installed the "GitLink" NuGet package and enabled all source linking related options in the debug options.

I then installed [Moq](https://github.com/moq/moq), [Ninject](https://github.com/ninject/Ninject), [xUnit](https://github.com/xun

[2017-11-16 20:47] tpluscode opened #179 "Unable to detect the remote git service."
I've just updated from nuget package 2.3 to 3.1 and GitLink breaks

### Steps to reproduce

1. Update to 3+
2. Build locally

Platform: Windows
.NET version: net452

### Expected behaviour

Should rewrite pdbs

### Actual behaviour

Gives numerous warnings similar to

[code]

And finally

[code]

For repro try this branch: https://github.com/wikibus/Argolis/tree/git-link-repro

[2017-12-05 14:32] charlessolar opened #180 "dotnet pack mention AllowedOutputExtensionsInPackageBuildOutputFolder"
GitLink worked great for my v4.6.2 projects but as I move to dot standard I found when using `dotnet pack` the project properties need this option to include generated (and gitlink'ed) pdbs

[code]

As mentioned on SourceLink's readme.  It might be a good idea to mention that here too 👍

(the other option is to use a symbol server of course but for private repos this is a needless complication)

[2018-01-15 20:26] #155 closed

[2018-01-19 16:30] jairbubbles commented on #155
Bumped exactly into the same issue (the first file was a tmp one). Thx for the fix!

[2018-01-19 19:59] jnm2 opened #188 "Tool to download each URL and verify each hash"
At NUnit, we want to be able to guarantee that a release does not go out unless the commit is pushed to GitHub and that each download hashes correctly so that things like line endings don't trip us up.

Is there an existing tool for this which is compatible with GitLink v3? If not, what would it take to build one?

[2018-01-19 21:04] GeertvanHorrik commented on #188
Hmmm, good question. I think you might be interested in GitTools.Core (which GitLink uses) that uses dynamic repositories. There you can basically do a hash check (as a separate tooling).

Another option is to just create a very simple (non-generic) tool that uses LibGit2Sharp to download the checksums before doing anything else.

[2018-01-27 20:52] batzen opened #190 "Ignore generatedinternaltypehelper.g.cs instead of generating a warning"
### Steps to reproduce

1. Clone https://github.com/fluentribbon/Fluent.Ribbon.git
2. Run the powershell script build.ps1

Platform:
.NET version: 4.0, 4.5, 4.6.2

### Expected behaviour

GitLink should not generate warnings for generatedinternaltypehelper.g.cs.

### Actual behaviour

GitLink generates the following warning
[code]

[2018-01-28 08:45] batzen commented on #190
Thinking about it a bit more, shouldn't all ".g.cs" files be ignored?

[2018-01-28 21:40] GeertvanHorrik commented on #190
Good point, thanks for letting us know.

[2018-01-28 21:49] GeertvanHorrik commented on #190
Releasing a new nightly now.

[2018-01-28 21:52] GeertvanHorrik commented on #190
Could you please let us know whether 3.2.0-alpha.25.build.128 solves your issue?

[2018-01-28 21:52] batzen commented on #190
Thanks a lot. Will give it a try tomorrow.

[2018-02-03 08:54] batzen commented on #190
Just updated to the latest unstable version from nuget.
The warning about .g.cs went away, but now i get:

`error MSB4064: The "IntermediateOutputPath" parameter is not supported by the "LinkPdbToGitRemote" task. Verify the parameter exists on the task, and it is a settable public instance property.`

[2018-02-03 09:26] batzen commented on #190
Maybe that warning is my own fault. Will have a look at that later.

[2018-02-04 13:16] batzen commented on #190
Ok, warning was my own fault.
I consider this issue fixed.

[2018-02-05 09:34] GeertvanHorrik commented on #190
Thanks for the feedback.

[2018-02-05 09:34] #190 closed, assigned to nobody

[2018-02-06 14:41] Liryna opened #191 "Provide pdb folder as path"
### Feature description
I am using GitLink for a C++ of 100 > libraries. Therefore, using `-a` option that sometimes takes on each library.
I was looking to improve the workflow by allowing GitLink to take a folder and handle all the pdb in it.
How could this can be integrated ?
I thought about simply adding a folder listing here but I guess that the wrong way since the file listing is later.
http

[2018-02-06 16:06] Liryna opened #192 "Add Gitlab support"
### Feature description

Hi,

I am looking to make the gitlab integration.
We can access to raw files the same way as github but with a basic api token.
`https://gitlab.com/repo/raw/${git_commit}/...?private_token=YOUR_TOKEN`
See: https://gitlab.com/gitlab-org/gitlab-ce/issues/19077

I wonder if we should 'just' add a param after `-u` to provide extram param on the URL ? or a param to say we are u

[2018-02-06 19:23] GeertvanHorrik commented on #192
Are the pdb files also hosted privately? Note that adding a private token can be a bad idea and cause your source files to be exposed. This is obviously always the case when you need a token to get source code behind a login wall, but just want to make sure you understand the implications.

[2018-02-06 19:27] GeertvanHorrik commented on #191
At first thought, I think it might work to just loop the directories. We could even make an overload called `Linker.LinkDirectory` method and pass in the pdb files one by one. The pdb files should all go good because for each pdb file, they should be part of the same solution thus the same repository.

But I think the best way would be to use msbuild integration where it automatically takes care o

[2018-02-06 20:00] Liryna commented on #192
Hi @GeertvanHorrik ,

Yes, the pdb are also hosted privately in a network shared folder.

[2018-02-07 09:04] Liryna commented on #191
Hi @GeertvanHorrik ,

Thank you for the guide. I have created a PR with the changes https://github.com/GitTools/GitLink/pull/193
I have also added cache source files for `-a` option. Calling `GetSourceFilesFromDepot` take 80% of the time on my side. This is extremely helpful when running on 100 pdb and 1000 source files 👍

[2018-02-07 09:19] Liryna commented on #192
Oh, my bad, have not seen the `CustomUrlProvider`. This will do the work 👍

[2018-02-07 09:19] #192 closed, assigned to nobody

[2018-02-09 10:28] Liryna commented on #142
Well @bacar you are right 😢 Looking at the readme I tried to feet Gitlab raw http url request:
`http://localserver/org/project/raw/{revision}/{filename}?private_token=MY_TOKEN`
But could not make it work. Looked at the url in the pdb, it is a valid url with all correct files.
[code]
Here is VS 2017 logs:
[code]
Any on succeeding to find a work around on this ?

****edit: done with a nginx proxy pa

[2018-02-16 14:10] GeertvanHorrik commented on #142
Thanks for the update. Will close this ticket.

[2018-02-16 14:10] #142 closed

[2018-02-18 14:19] GeertvanHorrik commented on #191
Assuming this can be closed since the PR has been accepted & merged. If not, feel free to re-open.

[2018-02-18 14:19] #191 closed, assigned to nobody

[2018-03-06 16:08] rjmporter opened #194 "Gitlink failes on projects referencing Shared C++ (*.vcxitems) projects."
*IF BUG, INCLUDE THIS PART:*

### Steps to reproduce

 1. Create a Solution
 2. Create a dll.vcxproj c++ dll project
 3. Create a shared.vcxitems, c++ shared project, containing at least one compile-able item.
 4. Add a reference to the shared.vcxitems project in the dll.vcxproj.

Platform:
.NET version: native c++

### Expected behaviour

vcxitems project are simply evaluated as
[code]
in the msb

[2018-05-21 20:17] Ilod opened #200 "Source download from Visual Studio fails on server accepting TLS>1.0 connections only"
### Steps to reproduce

1. Index a pdb with Powershell and a https url
2. Configure the web server to reject SSL3 and TLS1.0 connections
3. Attempt to access the source file when debugging in Visual Studio

Platform: Windows 10, Visual Studio 2017

### Expected behaviour

The source file should be downloaded and opened by Visual Studio.

### Actual behaviour

The file fails to download. When enabl

[2018-05-22 07:57] #200 closed, assigned to nobody

[2018-05-22 07:59] GeertvanHorrik commented on #200
Thanks for your contribution. Deployed an alpha to both nuget & chocolatye

[2018-07-04 19:18] reupen opened #202 "Submodule support"
Hi,

I ran GitLink 3.2.0-unstable0040 (from Chocolatey) on one of my C++ projects (which uses Git submodules):

`gitlink -a .\Release\foo_ui_columns.pdb`

It resulted in a lot of messages such as the following being printed:

[code]

The paths are all within submodules so I assume the messages are related to that.

It would be great to add full support for submodules, though making it less worse (

[2018-07-19 14:10] toughengineer commented on #188
Not sure it is relevant here, but for one you can use `srctool` from Debugging tools for Windows to get hashes from PDB:

    srctool -r -h module.pdb

which gives output like this:
[code]
Then using `srctool` you can get either urls or commands for indexed files in PDB (see output of `srctool` without parameters for usage help).
So the process could be like this:
1. `srctool -r -h module.pdb`
2.

[2018-07-19 14:25] toughengineer opened #203 "GitLink does not discern what files are really needed to be indexed for native code PDB"
I tried GitLink to index sources for one of boost DLLs and it shoved a whooping ~60000 (sixty thousand) item index into poor PDB which actually needed only 1000 index items.
This is overkill considering there may be tens of DLLs built from a hundred thousand file repo, and for _every_ DLL GitLink would sweep _the whole 100000 file repo_, while the PDB contains info about exact files that should be

[2018-07-20 12:07] GeertvanHorrik commented on #203
Thanks for the feedback. What do you think would be a good solution ?

[2018-07-20 13:34] madelson opened #204 "Are their instructions for setting up JetBrains Rider to work with GitLink?"
I'm curious whether this is known to work/not work and whether there are any setup steps required in the IDE.

[2018-07-20 14:50] toughengineer commented on #203
@GeertvanHorrik, hello.
At least sweep only files the particular PDB is referring to. You can get the list of these files, for example, using `srctool` from Debugging tools for Windows (see my comment in #188 for usage example). This should not be a problem since you are already using `pdbstr` from that suite.
Also you could process PDBs in batches, caching mappings of common files between PDBs. B

[2018-08-06 18:43] davideason opened #206 "Instrument PDB with Git Object Hash with File Name?"
Hello all!  I've been fiddling some time now with GitLink. It's an awesome tool, many thanks to the contributors.

I'm attempting to implement something similar to @shonnly, but seem to have an issue with uniquely identifying the correct file via my custom proxy.
Given a Revision Sha and FileName, there are situations where more than 1 file in a repo shares the same name. If GitLink instruments my

[2018-08-07 07:33] GeertvanHorrik commented on #206
Can you give an example where local path + commit sha would result in clashes? I can't think of any.

[2018-08-07 13:45] davideason commented on #206
@GeertvanHorrik, thanks for your quick reply. As it turns out, my understanding and usage of the Local Path/Var2 was incorrect. What I was seeing instrumented in the PDB was not immediately visible that the local path is in fact the relative path in the repo. When testing the functionality, I was seeing something I thought was the final URI (Private BB server) in my VS output was something else du

[2018-08-07 13:45] #206 closed, assigned to nobody

[2018-08-17 15:45] moescs commented on #190
The latest unstable version in nuget (3.2.0-unstable0040) still generates lots of warnings about .g.cs files for me. However, I'm using the command line. The -s or --skipVerify option seems to have no effect.

[2019-01-11 14:54] etalon opened #207 "Argument.IsNotNullOrEmpty(nameof(path), path) thrown"
The GetNormalizedPath-Function is called with an empty path.
I don't know why an empty path is passed an not filtered.

I tried removing empty paths in Linker.Link-Function and then it worked but I don't want to push this.

I call GitLink.exe with the following arguments:
  `$arguments = $pathToPdb + " --baseDir " + $workingDir + " --url " + $url`

PS: A new release would be fine. Thanks for your

[2019-01-13 13:57] GeertvanHorrik commented on #207
Interested in doing a PR?

[2019-01-19 13:00] etalon commented on #207
Sorry, what is a PR?

[2019-01-19 15:35] GeertvanHorrik commented on #207
PR stands for Pull Request.

[2019-02-01 10:40] etalon commented on #207
Thanks, sure. My changes in the code are working, but I didn't solve the problem from the root. So I don't want to push this. Someone who knows the code in detail can say where these empty paths come from.

[2019-02-14 00:33] schultetwin1 opened #208 "GitLink 3.1.0 not available on Chocolatey"
Version 3.0.0 does not support "-a". I'd love to be able to do choco install GitLink and get "-a".

[2019-02-15 12:13] GeertvanHorrik commented on #208
I believe the prerelease versions are available? I think it was not allowed because it needed the license embedded or something like that.

[2019-02-16 21:10] raymondwu1 commented on #203
Hi, I recently implemented what @toughengineer suggested and I'm currently just updating/cleaning my branch to prepare for a pull request. I imported version 6.12.2.633 of srctool which is packaged in the same version of Debugging tools for Windows that you guys are currently using for pdbstr. (I included a source in one of my commits) Having tested it internally, it works pretty great. Thanks for

[2019-03-19 18:00] schultetwin1 commented on #208
Ah, you are correct. The prerelease versions are there. Thanks!

[2019-03-19 18:00] #208 closed, assigned to nobody

[2019-04-16 21:29] michael-hay commented on #80
The bitbucket ticket mentioned above did not fix this issue as they did not expose a way to get a specific revision in a non-suffixed URL.  They say the following:

In order to get a specific revision you still need to use the syntax

The quick workaround it to setup an NGINX rewrite rule.  Takes about 5 minutes.  Set a location like this (here nginx is on a different host than Bitbucket Enterpris

[2019-06-05 15:26] Ducatel opened #211 "Slash problem in custom URL"
Hi everyone,

I'm trying to use GitLink with gitlab.
For doing that I'm using the custom URL provider.

Gitlab API v4 allow to get raw file with call like

[code]
I have testing this with `HTTP` and `Powershell` method but both fail with a HTTP 404 error code.
This is due to the replacement of  `{filename}` (or `%var2%` in the srcsrv file) by source file path which can contains `/` when it under f

[2019-06-06 11:45] GeertvanHorrik commented on #211
Looks good, thanks for the PR.

Note that we recommend to use SourceLink nowadays (built into VS, supported by MS, etc). I did accept the PR and will release an alpha to nuget / chocolatye, but if you are able to, I recommend you use portable pdb with sourcelink.

[2019-06-06 11:45] #211 closed, assigned to nobody

[2019-06-06 12:07] Ducatel commented on #211
Ok, I will check SourceLink ;)
Thanks

[2019-06-06 12:15] Ducatel commented on #211
Maybe you should add a note in readme which redirect user to sourceLink if it's the recommended way now.
After some research, SourceLink cannot handle my case (Gitlab private repo)

[2020-02-20 09:02] #180 closed, assigned to nobody

[2021-05-05 16:36] juangburgos commented on #80
I made a small node app to make the proper URL rewrites for Gitlab:
<https://github.com/juangburgos/GitlabRewritter>

[2021-11-27 23:22] tonimikr123 opened #214 "Githube"

[2021-11-28 09:18] #214 closed, assigned to nobody